Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

chore: willboosterify this repo
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .gitignore
  .prettierignore
  package.json
  packages/babel-configs/.gitignore
  packages/biome-config/.gitignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/.gitignore
  packages/oxlint-config/.gitignore
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/shared/.gitignore
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo (#1043)
  .gitignore
  .prettierignore
  package.json
  packages/babel-configs/.gitignore
  packages/biome-config/.gitignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/.gitignore
  packages/oxlint-config/.gitignore
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/shared/.gitignore
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .gitignore
  .prettierignore
  package.json
  packages/babel-configs/.gitignore
  packages/babel-configs/package.json
  packages/biome-config/.gitignore
  packages/biome-config/package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/package.json
  packages/oxlint-config/.gitignore
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/shared/.gitignore
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .gitignore
  .prettierignore
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.17.1.cjs
  .yarnrc.yml
  package.json
  packages/babel-configs/.gitignore
  packages/babel-configs/package.json
  packages/biome-config/.gitignore
  packages/biome-config/package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/package.json
  packages/oxlint-config/.gitignore
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/shared/.gitignore
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .gemini/styleguide.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  oxlint.config.ts
  package.json
  packages/babel-configs/oxlint.config.ts
  packages/babel-configs/package.json
  packages/biome-config/oxlint.config.ts
  packages/biome-config/package.json
  packages/eslint-config-js-react/oxlint.config.ts
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/oxlint.config.ts
  packages/eslint-config-js/package.json
  packages/eslint-config-next/oxlint.config.ts
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/oxlint.config.ts
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/oxlint.config.ts
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/oxlint.config.ts
  packages/oxfmt-config/package.json
  packages/oxlint-config/oxlint.config.ts
  packages/oxlint-config/package.json
  packages/prettier-config/oxlint.config.ts
  packages/prettier-config/package.json
  packages/shared/oxlint.config.ts
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: declare root workspace config dependencies for isolated installs
  bun.lock
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .gitignore
  .prettierignore
  .renovaterc.json
  README.md
  bun.lock
  bunfig.toml
  package.json
  packages/babel-configs/.gitignore
  packages/babel-configs/package.json
  packages/biome-config/.gitignore
  packages/biome-config/package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/package.json
  packages/oxlint-config/.gitignore
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/shared/.gitignore
  packages/shared/package.json
  renovate.json5
  renovate.jsonc
Due: prettier --write, sort-package-json

feat: let Renovate update vinext beta packages
  renovate.jsonc
Due: none

feat: let Renovate update vinext beta packages (#1053)
  renovate.jsonc
Due: none

chore: willboosterify this repo
  .github/workflows/autofix.yml
  README.md
  bun.lock
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  renovate.jsonc
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  README.md
  bun.lock
  bunfig.toml
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  packages/babel-configs/oxlint.config.ts
  packages/biome-config/oxlint.config.ts
  packages/eslint-config-js-react/oxfmt.config.ts
  packages/eslint-config-js-react/oxlint.config.ts
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/oxfmt.config.ts
  packages/eslint-config-js/oxlint.config.ts
  packages/eslint-config-js/package.json
  packages/eslint-config-next/oxfmt.config.ts
  packages/eslint-config-next/oxlint.config.ts
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/oxfmt.config.ts
  packages/eslint-config-ts-react/oxlint.config.ts
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/oxfmt.config.ts
  packages/eslint-config-ts/oxlint.config.ts
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/oxlint.config.ts
  packages/oxlint-config/oxfmt.config.ts
  packages/oxlint-config/package.json
  packages/prettier-config/oxlint.config.ts
  packages/shared/oxfmt.config.ts
  packages/shared/oxlint.config.ts
  packages/shared/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo (#1054)
  .github/workflows/autofix.yml
  README.md
  bun.lock
  bunfig.toml
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  packages/babel-configs/oxlint.config.ts
  packages/babel-configs/package.json
  packages/biome-config/oxlint.config.ts
  packages/biome-config/package.json
  packages/eslint-config-js-react/oxfmt.config.ts
  packages/eslint-config-js-react/oxlint.config.ts
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/oxfmt.config.ts
  packages/eslint-config-js/oxlint.config.ts
  packages/eslint-config-js/package.json
  packages/eslint-config-next/oxfmt.config.ts
  packages/eslint-config-next/oxlint.config.ts
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/oxfmt.config.ts
  packages/eslint-config-ts-react/oxlint.config.ts
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/oxfmt.config.ts
  packages/eslint-config-ts/oxlint.config.ts
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/oxlint.config.ts
  packages/oxfmt-config/package.json
  packages/oxlint-config/oxfmt.config.ts
  packages/oxlint-config/package.json
  packages/prettier-config/oxlint.config.ts
  packages/prettier-config/package.json
  packages/shared/oxfmt.config.ts
  packages/shared/oxlint.config.ts
  packages/shared/package.json
  renovate.jsonc
Due: prettier --write, sort-package-json

fix: stop the shared Renovate preset from extending itself
  renovate.jsonc
Due: none

fix: stop the shared Renovate preset from extending itself (#1055)
  renovate.jsonc
Due: none

feat: let Renovate update drizzle rc packages
  renovate.jsonc
Due: none

feat: let Renovate update drizzle rc packages (#1057)
  renovate.jsonc
Due: none

fix: remove invalid wildcard exclusion from Renovate pin rule
  renovate.jsonc
Due: none

fix: remove invalid wildcard exclusion from Renovate pin rule (#1058)
  renovate.jsonc
Due: none

feat: validate the shared Renovate preset in CI and pre-commit
  .github/workflows/renovate-config.yml
  lefthook.yml
Due: prettier --write

fix: run the Renovate config validation under the pinned Node version
  .github/workflows/renovate-config.yml
  lefthook.yml
Due: prettier --write
