Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

fix: add renovate preset groups (#908)
  renovate.json5
Due: none

fix: remove unused renovate preset groups
  renovate.json5
Due: none

fix: complete renovate preset exclusions
  renovate.json5
Due: none

fix: broaden shared renovate exclusions
  renovate.json5
Due: none

fix: align renovate exclusions with preset definitions
  renovate.json5
Due: none

refactor: replace renovate presets with custom groups
  renovate.json5
Due: none

fix: expand renovate linter grouping
  renovate.json5
Due: none

fix: remove unused renovate preset groups (#910)
  renovate.json5
Due: none

fix: resolve typed lint fixtures for TS 6
  packages/eslint-config-next/test/test.tsx
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/test/test.tsx
  packages/eslint-config-ts-react/test/test2.ts
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/test/test.ts
  packages/eslint-config-ts/tsconfig.json
Due: prettier --write

fix: restore eslint react compatibility
  package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: remove unnecessary eslint 9 config wrappers
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-next/eslint.config.js
Due: prettier --write

.
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: restore eslint react compatibility (#919)
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  63eae7330b7d8175c5c8e6c14c72b2799e201410
Due: none

fix: apply minimum release age to pip dependencies
  renovate.json5
Due: none

fix: apply minimum release age to pip dependencies (#921)
  renovate.json5
Due: none

fix: allow latest agent runtime kit updates
  renovate.json5
Due: none

fix: remove direct next dev dependency
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: allow latest agent-runtime-kit updates (#922)
  renovate.json5
Due: none

fix: remove direct next dev dependency (#923)
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  2302117e7147f5317fc608e19dbcececb646869b
Due: none

chore: apply wbfy
  .cursor/rules/general.mdc
  .gemini/styleguide.md
  .gitignore
  .lintstagedrc.cjs
  .prettierignore
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/babel-configs/.gitignore
  packages/babel-configs/.lintstagedrc.cjs
  packages/babel-configs/.prettierignore
  packages/babel-configs/package.json
  packages/biome-config/.gitignore
  packages/biome-config/.lintstagedrc.cjs
  packages/biome-config/.prettierignore
  packages/biome-config/package.json
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/.lintstagedrc.cjs
  packages/oxfmt-config/.prettierignore
  packages/oxfmt-config/package.json
  packages/oxlint-config/.gitignore
  packages/oxlint-config/.lintstagedrc.cjs
  packages/oxlint-config/.prettierignore
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.lintstagedrc.cjs
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/shared/.gitignore
  packages/shared/.lintstagedrc.cjs
  packages/shared/.prettierignore
  packages/shared/package.json
  packages/shared/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: apply wbfy (#924)
  .cursor/rules/general.mdc
  .gemini/styleguide.md
  .gitignore
  .lintstagedrc.cjs
  .prettierignore
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/babel-configs/.gitignore
  packages/babel-configs/.lintstagedrc.cjs
  packages/babel-configs/.prettierignore
  packages/babel-configs/package.json
  packages/biome-config/.gitignore
  packages/biome-config/.lintstagedrc.cjs
  packages/biome-config/.prettierignore
  packages/biome-config/package.json
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/.lintstagedrc.cjs
  packages/oxfmt-config/.prettierignore
  packages/oxfmt-config/package.json
  packages/oxlint-config/.gitignore
  packages/oxlint-config/.lintstagedrc.cjs
  packages/oxlint-config/.prettierignore
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.lintstagedrc.cjs
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/shared/.gitignore
  packages/shared/.lintstagedrc.cjs
  packages/shared/.prettierignore
  packages/shared/package.json
  packages/shared/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: switch React ESLint config to eslint-react
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/README.md
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: upgrade ESLint configs to ESLint 10
  package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: enable JSX parsing for React JS files
  packages/eslint-config-js-react/eslint.config.js
Due: prettier --write

fix: use eslint-react hook rules for ESLint 10
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/README.md
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

refactor: inline internal ESLint config dependencies
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

docs: note copied ESLint config blocks
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

docs: use JSDoc for copied config notes
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

fix: align Biome includes with ESLint ignores
  packages/biome-config/biome.jsonc
Due: none

docs: attach copied config notes to constants
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

feat!: migrate React ESLint configs for ESLint 10 (#926)
  package.json
  packages/biome-config/biome.jsonc
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/README.md
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json
