Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies (#188)
  .prettierignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.prettierignore
  packages/tsconfig/.prettierignore
Due: none

feat: disable the 'react/prop-types' rule
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-ts-react/.eslintrc.json
Due: prettier --write

feat: disable the 'react/prop-types' rule (#193)
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-ts-react/.eslintrc.json
Due: prettier --write

v2.1.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

feat: tweak renovate to reduce PRs and commits
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

feat: tweak renovate to reduce PRs and commits (#199)
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

feat: employ eslint-plugin-react-hooks
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: employ eslint-plugin-react-hooks (#200)
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

docs: mention eslint-plugin-react-hooks
  packages/eslint-config-js-react/README.md
  packages/eslint-config-ts-react/README.md
Due: prettier --write

v2.2.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies
  yarn.lock
Due: none

chore: willboosterify this repo upgrading dependencies (#201)
  yarn.lock
Due: none

chore: willboosterify this repo upgrading dependencies
  .dependabot/config.yml
  .gitignore
  .prettierignore
  .renovaterc.json
  lerna.json
  package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/renovate-config/package.json
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
  packages/tsconfig/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies (#202)
  .dependabot/config.yml
  .gitignore
  .prettierignore
  .renovaterc.json
  lerna.json
  package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/renovate-config/package.json
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
  packages/tsconfig/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint to v6.7.1
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update typescript-eslint monorepo to v2.9.0
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v9.5.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies
  .gitignore
  .prettierignore
  package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies (#203)
  .gitignore
  .prettierignore
  package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint-plugin-react to v7.17.0
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.27.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint to v6.7.2
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.28.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update typescript-eslint monorepo to v2.10.0
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.30.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency typescript to v3.7.3
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies
  .editorconfig
  .gitattributes
  .gitignore
  .prettierignore
  package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/renovate-config/package.json
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
  packages/tsconfig/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies (#204)
  .editorconfig
  .gitattributes
  .gitignore
  .prettierignore
  package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/renovate-config/package.json
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
  packages/tsconfig/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: enable automergeMinor
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

v2.3.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies
  .editorconfig
  .gitattributes
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies (#205)
  .editorconfig
  .gitattributes
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies
  .editorconfig
  .gitattributes
  .lintstagedrc.js
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies (#206)
  .editorconfig
  .gitattributes
  .lintstagedrc.js
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies
  .gitignore
  .lintstagedrc.js
  .prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
Due: prettier --write

chore: willboosterify this repo upgrading dependencies (#207)
  .gitignore
  .lintstagedrc.js
  .prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
Due: prettier --write

chore(deps): update dependency eslint-plugin-import to v2.19.1
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update typescript-eslint monorepo to v2.11.0
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(renovate-config): extend config:base instead of :base
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

v2.3.1
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
