Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

fix: don't use eslint-plugin-prettier
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
  packages/eslint-config-ts/package.json
Due: prettier --write, sort-package-json

fix: don't use eslint-plugin-prettier (#244)
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
  packages/eslint-config-ts/package.json
Due: prettier --write, sort-package-json

fix: willboosterify this repo
  .editorconfig
  .gitattributes
  .gitignore
  .huskyrc.json
  .idea/watcherTasks.xml
  .prettierignore
  lerna.json
  package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.lintstagedrc.js
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.lintstagedrc.js
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.lintstagedrc.js
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.lintstagedrc.js
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.lintstagedrc.js
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/renovate-config/.gitignore
  packages/renovate-config/.lintstagedrc.js
  packages/renovate-config/.prettierignore
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

v5.0.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

feat: tweak import/order settings
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update actions/cache action to v2
  .github/workflows/test.yml
Due: prettier --write

feat: tweak import/order settings (#245)
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

build: employ yarn berry
  .gitignore
  .prettierignore
  .yarn/releases/yarn-berry.cjs
  .yarnrc
  .yarnrc.yml
  lerna.json
  package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix CI script
  .github/workflows/test.yml
Due: prettier --write

Don't use node-linker
  .yarnrc.yml
Due: prettier --write

v5.0.1
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

fix: dependency relations for berry
  .idea/watcherTasks.xml
  lerna.json
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(eslint-config-ts): enum member name should be PascalCase
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

v5.1.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

fix: refine devDependencies in root package
  lerna.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: peerDependencies adding tests
  .github/workflows/test.yml
  .yarn/releases/yarn-2.3.3.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/__tests__/namingConvention.ts
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix ci settings
  .github/workflows/test.yml
Due: prettier --write

fix: peerDependencies adding tests (#248)
  .github/workflows/test.yml
  .yarn/releases/yarn-2.3.3.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/__tests__/namingConvention.ts
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

v5.1.1
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

ci: refine settings
  .github/workflows/test.yml
Due: prettier --write

chore(deps): update all non-major dependencies to v4.7.0
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
