Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

Notes added by 'git notes add'
  9820c8329580ac02fb03357d600219c16d841d8c
Due: none

fix: warn no-explicit-any
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  684bf304cd30f01f09c3e669f2f490a26da2dfb0
Due: none

ci: enable discord notification on release
  .github/workflows/release.yml
Due: prettier --write

feat(babel-configs): set automatic in runtime for preset-react
  packages/babel-configs/babel.corejs.react.config.cjs
Due: none

Notes added by 'git notes add'
  7854d141b048bec6ed6a34d2bdf912f79dafc988
Due: none

feat(babel-configs): set automatic in runtime for preset-react in babel.react.config.cjs
  packages/babel-configs/babel.react.config.cjs
Due: none

Notes added by 'git notes add'
  2f81195bbd97d2dbaace539e35951596df8c9176
Due: none

chore: willboosterify this repo
  .eslintignore
  .github/workflows/close-comment.yml
  .github/workflows/notify-ready.yml
  .husky/post-merge
  .releaserc.json
  .yarnrc.yml
  README.md
  package.json
  packages/eslint-config-js-react/.eslintignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.eslintignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.eslintignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintignore
  packages/eslint-config-ts/package.json
  packages/shared/.eslintignore
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo (#391)
  .eslintignore
  .github/workflows/close-comment.yml
  .github/workflows/notify-ready.yml
  .husky/post-merge
  .releaserc.json
  .yarnrc.yml
  README.md
  package.json
  packages/eslint-config-js-react/.eslintignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.eslintignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.eslintignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintignore
  packages/eslint-config-ts/package.json
  packages/shared/.eslintignore
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: add rollup-configs
  packages/babel-configs/README.md
  packages/rollup-configs/.gitignore
  packages/rollup-configs/.lintstagedrc.cjs
  packages/rollup-configs/.prettierignore
  packages/rollup-configs/LICENSE
  packages/rollup-configs/NOTICE
  packages/rollup-configs/README.md
  packages/rollup-configs/buildPackageJsonForFunctions.mjs
  packages/rollup-configs/package.json
  packages/rollup-configs/rollup.functions.config.mjs
  packages/rollup-configs/rollup.react.library.no-bundle.config.mjs
  packages/rollup-configs/utils.mjs
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  aee3e81c5919bf0714ba61b4f77462eb5c4f78a3
Due: none

docs: update packages in README
  README.md
Due: prettier --write

feat!: rename rollup.react.library.no-bundle.config.mjs to rollup.library.no-bundle.config.mjs
  packages/rollup-configs/README.md
  packages/rollup-configs/buildPackageJsonForFunctions.mjs
  packages/rollup-configs/rollup.library.no-bundle.config.mjs
Due: prettier --write

Notes added by 'git notes add'
  7357448e4bd4a8501780bc02b5e1b0428f21752a
Due: none

fix(rollup-configs)!: rename config file and change dependencies
  packages/rollup-configs/.eslintrc.json
  packages/rollup-configs/README.md
  packages/rollup-configs/package.json
  packages/rollup-configs/rollup.functions.config.mjs
  packages/rollup-configs/rollup.library.no-bundle.config.mjs
  packages/rollup-configs/rollup.library.noBundle.config.mjs
  packages/rollup-configs/utils.mjs
  yarn.lock
Due: prettier --write, sort-package-json

fix(rollup-configs): remove cyclic dependency
  packages/rollup-configs/package.json
Due: prettier --write, sort-package-json

chore: update yarn.lock
  yarn.lock
Due: none

Notes added by 'git notes add'
  1b95c285e265a7c11df44338a9c3bdcde07f7a44
Due: none

fix(rollup-configs): output.dir option
  packages/rollup-configs/package.json
  packages/rollup-configs/rollup.library.noBundle.config.mjs
  packages/rollup-configs/utils.mjs
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  86513a63b5f1eb25fb0dfb2a46ab320996ae392e
Due: none

fix(renovate): allow only Node.js 16, 18, and 20
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  ce28477b1e3c243ebf8f6e157b51e44ac35e3b5d
Due: none

fix(eslint-config-ts,eslint-config-ts-react): improve eslint-plugin-import settings
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  75da6ea8d08e2b5646a44ca441a808f538f6bfdd
Due: none

feat(rollup-configs): employ @rollup/plugin-replace
  packages/rollup-configs/README.md
  packages/rollup-configs/package.json
  packages/rollup-configs/rollup.functions.config.mjs
  packages/rollup-configs/rollup.library.noBundle.config.mjs
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  00ebebfe2211beb309c341a31a5c3afad1c1c246
Due: none

fix: lint errors
  packages/rollup-configs/rollup.functions.config.mjs
  packages/rollup-configs/rollup.library.noBundle.config.mjs
Due: none

Notes added by 'git notes add'
  db9b41e54afaba64d303881ccb2bf2292fe6d19e
Due: none

feat: add eslint-config-blitz
  packages/eslint-config-blitz/.eslintignore
  packages/eslint-config-blitz/.eslintrc.json
  packages/eslint-config-blitz/.gitignore
  packages/eslint-config-blitz/.lintstagedrc.cjs
  packages/eslint-config-blitz/.prettierignore
  packages/eslint-config-blitz/LICENSE
  packages/eslint-config-blitz/NOTICE
  packages/eslint-config-blitz/README.md
  packages/eslint-config-blitz/__tests__/test.tsx
  packages/eslint-config-blitz/package.json
  packages/eslint-config-blitz/tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: update eslint-config-blitz
  packages/eslint-config-blitz/.eslintrc.js
  packages/eslint-config-blitz/.eslintrc.json
  packages/eslint-config-blitz/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-blitz/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-blitz-next/.eslintignore
  packages/eslint-config-blitz-next/.eslintrc.js
  packages/eslint-config-blitz-next/.gitignore
  packages/eslint-config-blitz-next/.lintstagedrc.cjs
  packages/eslint-config-blitz-next/.prettierignore
  packages/eslint-config-blitz-next/LICENSE
  packages/eslint-config-blitz-next/NOTICE
  packages/eslint-config-blitz-next/README.md
  packages/eslint-config-blitz-next/__tests__/test.tsx
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-blitz-next/tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json
