Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

Notes added by 'git notes add'
  c7e95dea933f01298a20073c11dc054ed3e300c0
Due: none

Notes added by 'git notes add'
  70bf2dda48a06f7c33ccd293da31eeeab0259d00
Due: none

feat!: remove publish-all script
  README.md
  package.json
Due: prettier --write, sort-package-json

feat!: update all dependencies
  package.json
  packages/common/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  7513eb4dcd971630f0f5db8c82ce46f0ba04e622
Due: none

chore(deps): update all non-major dependencies
  .yarn/releases/yarn-3.2.0-rc.10.cjs
  .yarn/releases/yarn-3.2.0-rc.11.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat(renovate): use reviewers instead of assignees
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  70c9705e71fd9ee037dbd5543999babebe631e95
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update all non-major dependencies
  .yarn/releases/yarn-3.2.0-rc.11.cjs
  .yarn/releases/yarn-3.2.0-rc.12.cjs
  .yarnrc.yml
  package.json
  packages/common/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.8.0
  packages/common/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency dotenv-cli to v5
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Revert "chore(deps): update dependency dotenv-cli to v5 (#314)"
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

revert: chore(deps): update dependency dotenv-cli to v5 (#317)
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat(renovate-config): don't upgrade chalk
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  03d7a2cab2de2a61ad61f6090346f490bc74054b
Due: none

docs: refine description of how to install
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js/README.md
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts/README.md
Due: prettier --write

chore: wbfy this repo
  .github/workflows/test.yml
  .github/workflows/wbfy.yml
  .husky/post-merge
  .yarn/releases/yarn-3.2.0-rc.15.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  packages/common/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/common/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint-plugin-react to v7.29.1
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.10.0
  package.json
  packages/common/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/common/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json
