Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

Notes added by 'git notes add'
  68b4b5aa7067b0507b33f37f04919418adf777fb
Due: none

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .eslintignore
  .lintstagedrc.cjs
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  packages/babel-configs/.lintstagedrc.cjs
  packages/babel-configs/package.json
  packages/biome-config/.lintstagedrc.cjs
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/prettier-config/.lintstagedrc.cjs
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: prefer interface to type
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  0fec67327e27582f5ef587ecb35e72d241d16c6b
Due: none

fix(renovate): set `minimumReleaseAge: '5 days'`
  renovate.json5
Due: none

build: set `npmMinimalAgeGate: 5d` to `.yarnrc.yml`
  .yarnrc.yml
  packages/biome-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  3ed77550285c9a30288a52a30a1d7fb9411e799e
Due: none

fix: update .tool-versions
  .tool-versions
Due: none

ci: add autofix.yml
  .github/workflows/autofix.yml
Due: prettier --write

fix: wbfy this repo
  .cursor/rules/general.mdc
  .github/workflows/add-issue-to-project.yml
  .github/workflows/add-ready-issue-to-project.yml
  .github/workflows/notify-ready.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/wbfy.yml
  .yarn/plugins/plugin-auto-install.cjs
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  1d6736d0930df1d95a7a0a9db935eec0d8c028cd
Due: none

fix: add repository field to all packages for npm provenance
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  863b4ef84ea4a386e0106c51211af45dda2e9fab
Due: none

ci: fix autofix.yml
  .github/workflows/autofix.yml
Due: prettier --write

Notes added by 'git notes add'
  fa7a8bcaaf869b93ddcc916b92b6274279e879a3
Due: none
