Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update all non-major dependencies
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update typescript-eslint monorepo
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update actions/setup-node action to v2
  .github/workflows/test.yml
Due: prettier --write

feat: add babel-config-ts package
  packages/babel-config-ts/.gitignore
  packages/babel-config-ts/.lintstagedrc.js
  packages/babel-config-ts/.prettierignore
  packages/babel-config-ts/LICENSE
  packages/babel-config-ts/NOTICE
  packages/babel-config-ts/README.md
  packages/babel-config-ts/babel.config.json
  packages/babel-config-ts/lib/index.js
  packages/babel-config-ts/lib/ts-react.json
  packages/babel-config-ts/package.json
  packages/babel-config-ts/tsconfig.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint-config-prettier to v8
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: enable eqeqeq rule upgrading eslint-config-prettier
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintrc.json
  packages/eslint-config-ts/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

v6.0.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency husky to v5
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat(eslint-config-js): set 2021 in parserOptions.ecmaVersion
  packages/eslint-config-js/.eslintrc.json
Due: prettier --write

v6.1.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
Due: prettier --write, sort-package-json

feat(eslint-config-js): set true in es2021
  .yarnrc.yml
  lerna.json
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/tsconfig.json
Due: prettier --write

v6.2.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency lerna to v4
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat(renovate): enable :prImmediately
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

build: upgrade yarn version
  .yarn/releases/yarn-2.3.3.cjs
  .yarn/releases/yarn-2.4.1.cjs
  .yarnrc.yml
  yarn.lock
Due: prettier --write

v6.2.1
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

fix(renovate): remove redundant settings
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

fix(renovate): change scheduled time to 10am (Sat)
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

v6.3.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json
