Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

Notes added by 'git notes add'
  6796aa1b02cd4e2d0054b663fbac7490f4af248b
Due: none

feat: add oxlint config package
  packages/oxlint-config/.oxlintrc.json
  packages/oxlint-config/LICENSE
  packages/oxlint-config/NOTICE
  packages/oxlint-config/README.md
  packages/oxlint-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: tighten oxlint peer deps and docs
  packages/oxlint-config/README.md
  packages/oxlint-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: correct peer dependency declarations
  packages/babel-configs/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write, sort-package-json

docs: align readmes with peer deps
  packages/babel-configs/README.md
  packages/biome-config/README.md
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js/README.md
  packages/eslint-config-next/README.md
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts/README.md
  packages/prettier-config/README.md
Due: prettier --write

feat: add oxlint config package (#902)
  packages/babel-configs/README.md
  packages/biome-config/README.md
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js/README.md
  packages/eslint-config-next/README.md
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts/README.md
  packages/oxlint-config/.oxlintrc.json
  packages/oxlint-config/LICENSE
  packages/oxlint-config/NOTICE
  packages/oxlint-config/README.md
  packages/oxlint-config/package.json
  packages/prettier-config/README.md
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  6d0f423f5741b328e93a30614a9c55de6c229344
Due: none

feat: add oxfmt config package
  packages/oxfmt-config/.oxfmtrc.json
  packages/oxfmt-config/LICENSE
  packages/oxfmt-config/NOTICE
  packages/oxfmt-config/README.md
  packages/oxfmt-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: wbfy this repo
  .cursor/rules/general.mdc
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/oxfmt-config/package.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  .yarn/releases/yarn-4.13.0.cjs
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/.lintstagedrc.cjs
  packages/oxfmt-config/.prettierignore
  packages/oxlint-config/.gitignore
  packages/oxlint-config/.lintstagedrc.cjs
  packages/oxlint-config/.prettierignore
Due: none

.
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
Due: prettier --write, sort-package-json

feat: add oxlint config (#903)
  .cursor/rules/general.mdc
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/babel-configs/package.json
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/.lintstagedrc.cjs
  packages/oxfmt-config/.oxfmtrc.json
  packages/oxfmt-config/.prettierignore
  packages/oxfmt-config/LICENSE
  packages/oxfmt-config/NOTICE
  packages/oxfmt-config/README.md
  packages/oxfmt-config/package.json
  packages/oxlint-config/.gitignore
  packages/oxlint-config/.lintstagedrc.cjs
  packages/oxlint-config/.prettierignore
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: exclude agent directories from biome config
  packages/biome-config/biome.jsonc
Due: none

fix: exclude agent directories from biome config (#904)
  packages/biome-config/biome.jsonc
Due: none

Notes added by 'git notes add'
  50cefd9e2b1efe71824108d06d640e9e6003b42d
Due: none

chore: add nextjs monorepo renovate group
  renovate.json5
Due: none

chore: add nextjs monorepo renovate group (#905)
  renovate.json5
Due: none

fix: update renovate.json5
  renovate.json5
Due: none

renovate.json5 の更新
  renovate.json5
Due: none

fix: update renovate.json5 (#906)
  renovate.json5
Due: none

fix: add renovate preset groups
  renovate.json5
Due: none

fix: add renovate preset groups (#907)
  renovate.json5
Due: none

fix: exclude preset groups from renovate catch-all rules
  renovate.json5
Due: none

fix: broaden renovate catch-all exclusions
  renovate.json5
Due: none

docs: annotate renovate exclusions
  renovate.json5
Due: none

fix: simplify renovate linter exclusions
  renovate.json5
Due: none
