Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

Notes added by 'git notes add'
  b2c7604ed230dfc600dbb89b19483de2f46042e1
Due: none

style: format renovate.json5
  renovate.json5
Due: none

Notes added by 'git notes add'
  e0521703ee5ba1c45dcfe9a4c28078d79e99f02f
Due: none

fix(prettier-config): use 4 spaces for java
  packages/prettier-config/.prettierrc.json
Due: prettier --write

Notes added by 'git notes add'
  564c8db5c93bc1de8ff4835d8b5f43ab135f7a75
Due: none

fix: refine .prettierrc.json and add example files
  packages/prettier-config/.prettierrc.json
  packages/prettier-config/Test.java
  packages/prettier-config/Test.md
Due: prettier --write

Notes added by 'git notes add'
  1fa7d5849ea159cac009e4b840ca5e6f7b294dcd
Due: none

fix: disable prettier-plugin-java temporally
  .editorconfig
  packages/prettier-config/.prettierrc.json
  packages/prettier-config/Test.md
Due: prettier --write

Notes added by 'git notes add'
  2e2bc520ad461cc303d1875ee5ed33fe8dbbdf15
Due: none

chore: willboosterify this repo
  .gitattributes
  .github/workflows/test.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: support test/fixtures
  packages/biome-config/biome.jsonc
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-next/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  8e2ad40bca2cd2eeddf93ab49a965925c4b84481
Due: none
