Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

feat: add eslint-config-blitz (#420)
  packages/eslint-config-blitz-next/.eslintignore
  packages/eslint-config-blitz-next/.eslintrc.js
  packages/eslint-config-blitz-next/.gitignore
  packages/eslint-config-blitz-next/.lintstagedrc.cjs
  packages/eslint-config-blitz-next/.prettierignore
  packages/eslint-config-blitz-next/LICENSE
  packages/eslint-config-blitz-next/NOTICE
  packages/eslint-config-blitz-next/README.md
  packages/eslint-config-blitz-next/__tests__/test.tsx
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-blitz-next/tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  a4e9cd16ad0ec8bc6cf592ce8e046c527f6fd466
Due: none

feat(renovate): improve package groups
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  acdd3ed5c29f6007894940c82ae9de970e50c218
Due: none

.
  packages/eslint-config-js-react/.eslintrc.json
Due: prettier --write

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.36.cjs
  .yarn/releases/yarn-4.0.0-rc.37.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.37.cjs
  .yarn/releases/yarn-4.0.0-rc.38.cjs
  .yarnrc.yml
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .dockerignore
  .eslintignore
  .prettierignore
  .yarn/releases/yarn-4.0.0-rc.39.cjs
  .yarnrc.yml
  package.json
  packages/babel-configs/.prettierignore
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/.eslintignore
  packages/eslint-config-blitz-next/.prettierignore
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/.eslintignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.eslintignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.eslintignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/renovate-config/.prettierignore
  packages/renovate-config/package.json
  packages/rollup-configs/.prettierignore
  packages/rollup-configs/package.json
  packages/shared/.eslintignore
  packages/shared/.prettierignore
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarnrc.yml
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

style(eslint-config-blitz-next): comment the reason for disabling the rules
  packages/eslint-config-blitz-next/.eslintrc.js
Due: prettier --write

style(eslint-config-blitz-next): comment the reason for disabling the rules (#446)
  packages/eslint-config-blitz-next/.eslintrc.js
Due: prettier --write

fix(eslint-config-blitz-next): allow default export in db and descendant directories
  packages/eslint-config-blitz-next/.eslintrc.js
Due: prettier --write

Notes added by 'git notes add'
  a575b67fb62dfcbcfe9853f4530a9606d55b7af0
Due: none

docs(eslint-config-blitz-next): fix a typo
  packages/eslint-config-blitz-next/README.md
Due: prettier --write

chore: willboosterify this repo
  packages/eslint-config-blitz-next/.eslintrc.js
Due: prettier --write

fix: dependencies
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  171353b410758351dbc150537bae602a775ca93b
Due: none

docs: refine how to install
  packages/eslint-config-blitz-next/README.md
  packages/eslint-config-js-react/README.md
  packages/eslint-config-ts-react/README.md
Due: prettier --write

chore: willboosterify this repo
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .dockerignore
Due: none

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.40.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/plugins/plugin-auto-install.cjs
  .yarnrc.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
