Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

feat: validate the shared Renovate preset in CI and pre-commit (#1059)
  .github/workflows/renovate-config.yml
  lefthook.yml
Due: prettier --write

chore: willboosterify this repo
  .cursor/rules/general.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  bun.lock
  bunfig.toml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .github/workflows/autofix.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/wbfy.yml
  .gitignore
  .prettierignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  bun.lock
  bunfig.toml
  lefthook.yml
  package.json
  packages/babel-configs/.gitignore
  packages/babel-configs/package.json
  packages/biome-config/.gitignore
  packages/biome-config/package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/package.json
  packages/oxlint-config/.gitignore
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/shared/.gitignore
  packages/shared/package.json
Due: prettier --write, sort-package-json

build: never let Renovate rewrite supply-chain security resolutions
  renovate.jsonc
Due: none

build: never let Renovate rewrite supply-chain security resolutions (#1068)
  renovate.jsonc
Due: none

chore: remove the retired autofix.ci workflow
  .github/workflows/autofix.yml
Due: prettier --write

chore: remove the retired autofix.ci workflow (#1069)
  .github/workflows/autofix.yml
Due: prettier --write

chore(renovate): automerge every update including major
  renovate.jsonc
Due: none

chore(renovate): automerge every update including major (#1071)
  renovate.jsonc
Due: none

docs(renovate): correct clear-any-console clean-version note to 1.16.2
  renovate.jsonc
Due: none

docs(renovate): correct clear-any-console clean-version note to 1.16.2 (#1072)
  renovate.jsonc
Due: none

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .gemini/config.yaml
  .github/workflows/autofix.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/wbfy.yml
  .lefthook/post-merge/prepare.sh
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  bun.lock
  bunfig.toml
  lefthook.yml
  mise.toml
  package.json
  packages/babel-configs/oxlint.config.ts
  packages/babel-configs/package.json
  packages/biome-config/oxlint.config.ts
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/oxlint.config.ts
  packages/prettier-config/package.json
  packages/shared/package.json
Due: prettier --write, sort-package-json

fix: classify lint samples as test fixtures
  packages/eslint-config-js-react/test/fixtures/MyComponent.jsx
  packages/eslint-config-js-react/test/fixtures/test.jsx
  packages/eslint-config-js-react/test/fixtures/test2.js
  packages/eslint-config-js/test/fixtures/test.cjs
  packages/eslint-config-js/test/fixtures/test2.mjs
  packages/eslint-config-next/test/fixtures/MyComponent.jsx
  packages/eslint-config-next/test/fixtures/test.tsx
  packages/eslint-config-next/test/fixtures/test2.js
  packages/eslint-config-ts-react/test/fixtures/MyComponent.tsx
  packages/eslint-config-ts-react/test/fixtures/test.tsx
  packages/eslint-config-ts-react/test/fixtures/test2.ts
  packages/eslint-config-ts/test/fixtures/test.ts
  packages/eslint-config-ts/test/fixtures/test2.mts
  packages/oxlint-config/test/fixtures/component.jsx
  packages/oxlint-config/test/fixtures/typeAware.mts
Due: prettier --write

fix: configure Renovate Verdaccio authentication
  renovate.jsonc
Due: none

fix: align the shared Mend secret name
  renovate.jsonc
Due: none

fix: preserve repository npm settings
  renovate.jsonc
Due: none

fix: isolate private Renovate authentication
  renovate-private-packages.jsonc
  renovate.jsonc
Due: none

feat: add opt-in Renovate Verdaccio preset (#1077)
  renovate-private-packages.jsonc
Due: none

fix: use organization host rule for Renovate auth
  renovate-private-packages.jsonc
Due: none

fix: use organization host rule for Renovate auth (#1078)
  renovate-private-packages.jsonc
Due: none

feat: age-gate every third-party package in the shared config
  bunfig.toml
  renovate.jsonc
Due: none

feat: raise the npm cooldown to 7 days
  bunfig.toml
  renovate.jsonc
Due: none

feat: age-gate every third-party package and raise the cooldown to 7 days (#1079)
  bunfig.toml
  renovate.jsonc
Due: none

refactor: merge Renovate presets
  renovate-private-packages.jsonc
  renovate.jsonc
Due: none

.
  renovate-private-packages.jsonc
  renovate.jsonc
Due: none

.
  renovate.jsonc
Due: none

fix: merge Renovate presets (#1086)
  renovate-private-packages.jsonc
  renovate.jsonc
Due: none

fix: centralize Renovate Verdaccio authentication
  renovate.jsonc
Due: none

fix: centralize Renovate Verdaccio authentication (#1088)
  renovate.jsonc
Due: none

chore: remove redundant comments
  .gitattributes
  lefthook.yml
  oxlint.config.ts
  packages/babel-configs/oxlint.config.ts
  packages/biome-config/oxlint.config.ts
  packages/eslint-config-js-react/oxlint.config.ts
  packages/eslint-config-js/oxlint.config.ts
  packages/eslint-config-next/oxlint.config.ts
  packages/eslint-config-ts-react/oxlint.config.ts
  packages/eslint-config-ts/oxlint.config.ts
  packages/oxfmt-config/oxlint.config.ts
  packages/oxlint-config/oxlint.config.ts
  packages/prettier-config/oxlint.config.ts
  packages/shared/oxlint.config.ts
Due: prettier --write

chore: remove redundant comments (#1094)
  .gitattributes
  lefthook.yml
  oxlint.config.ts
  packages/babel-configs/oxlint.config.ts
  packages/biome-config/oxlint.config.ts
  packages/eslint-config-js-react/oxlint.config.ts
  packages/eslint-config-js/oxlint.config.ts
  packages/eslint-config-next/oxlint.config.ts
  packages/eslint-config-ts-react/oxlint.config.ts
  packages/eslint-config-ts/oxlint.config.ts
  packages/oxfmt-config/oxlint.config.ts
  packages/oxlint-config/oxlint.config.ts
  packages/prettier-config/oxlint.config.ts
  packages/shared/oxlint.config.ts
Due: prettier --write

chore: remove comments explaining in-house tool specs
  bunfig.toml
Due: none

chore: remove comments explaining in-house tool specs (#1095)
  bunfig.toml
Due: none

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .gemini/styleguide.md
  .github/workflows/close-comment.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/test.yml
  .gitignore
  .lefthook/post-merge/prepare.sh
  .prettierignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  bun.lock
  bunfig.toml
  lefthook.yml
  package.json
  packages/babel-configs/.gitignore
  packages/babel-configs/package.json
  packages/biome-config/.gitignore
  packages/biome-config/package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/package.json
  packages/oxlint-config/.gitignore
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/shared/.gitignore
  packages/shared/package.json
Due: prettier --write, sort-package-json

feat: age-gate crates.io and stop Cargo lockfile maintenance
  renovate.jsonc
Due: none

refactor: move Cargo gate to manager config and disable Cargo automerge
  renovate.jsonc
Due: none

fix: keep Cargo updates out of the cross-manager patch/minor groups
  renovate.jsonc
Due: none

feat: age-gate crates.io and require human merges for Cargo updates (#1098)
  renovate.jsonc
Due: none
