Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

chore: willboosterify this repo
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/oxfmt.config.ts
  packages/eslint-config-js-react/oxlint.config.ts
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/oxfmt.config.ts
  packages/eslint-config-js/oxlint.config.ts
  packages/eslint-config-js/package.json
  packages/eslint-config-next/oxfmt.config.ts
  packages/eslint-config-next/oxlint.config.ts
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/oxfmt.config.ts
  packages/eslint-config-ts-react/oxlint.config.ts
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/oxfmt.config.ts
  packages/eslint-config-ts/oxlint.config.ts
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/oxfmt.config.ts
  packages/oxlint-config/oxlint.config.ts
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/oxfmt.config.ts
  packages/shared/oxlint.config.ts
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: group nextjs and react renovate updates
  renovate.json5
Due: none

fix: group Next.js and React Renovate updates (#983)
  renovate.json5
Due: none

chore: apply wbfy
  .yarnrc.yml
  oxlint.config.ts
  package.json
  packages/babel-configs/oxlint.config.ts
  packages/biome-config/oxlint.config.ts
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/oxlint.config.ts
  packages/oxlint-config/package.json
  packages/prettier-config/oxlint.config.ts
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: reapply wbfy
  .idea/watcherTasks.xml
Due: none

chore: regenerate package oxlint configs
  packages/babel-configs/oxlint.config.ts
  packages/biome-config/oxlint.config.ts
  packages/eslint-config-js-react/oxlint.config.ts
  packages/eslint-config-js/oxlint.config.ts
  packages/eslint-config-next/oxlint.config.ts
  packages/eslint-config-ts-react/oxlint.config.ts
  packages/eslint-config-ts/oxlint.config.ts
  packages/oxfmt-config/oxlint.config.ts
  packages/oxlint-config/oxlint.config.ts
  packages/prettier-config/oxlint.config.ts
  packages/shared/oxlint.config.ts
Due: none

chore: preserve tsgo version after wbfy
  package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: apply wbfy (#984)
  .idea/watcherTasks.xml
  .yarnrc.yml
  oxlint.config.ts
  package.json
  packages/babel-configs/oxlint.config.ts
  packages/biome-config/oxlint.config.ts
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/oxlint.config.ts
  packages/eslint-config-js/package.json
  packages/eslint-config-next/oxlint.config.ts
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/oxlint.config.ts
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/oxlint.config.ts
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/oxlint.config.ts
  packages/oxlint-config/oxlint.config.ts
  packages/oxlint-config/package.json
  packages/prettier-config/oxlint.config.ts
  packages/shared/oxlint.config.ts
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: apply wbfy
  .idea/watcherTasks.xml
Due: none

chore: apply wbfy (#985)
  .idea/watcherTasks.xml
Due: none

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/biome-config/biome.jsonc
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarnrc.yml
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/oxlint.config.ts
  packages/biome-config/oxlint.config.ts
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/oxlint.config.ts
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: apply wbfy
  package.json
  packages/babel-configs/oxlint.config.ts
  packages/biome-config/oxlint.config.ts
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/oxlint.config.ts
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: apply wbfy (#993)
  package.json
  packages/babel-configs/oxlint.config.ts
  packages/biome-config/oxlint.config.ts
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/oxlint.config.ts
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/test.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/autofix.yml
  .github/workflows/test.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: enforce oxlint warning rules
  packages/oxlint-config/config.mjs
Due: none

fix: enforce oxlint warning rules (#1010)
  packages/oxlint-config/config.mjs
Due: none

fix: remove oxlint config self dependency
  packages/oxlint-config/oxlint.config.ts
  packages/oxlint-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

docs: add release topology lesson
  AGENTS_EXTRA.md
Due: prettier --write

docs: keep lesson item on one line
  AGENTS_EXTRA.md
Due: prettier --write

fix: remove oxlint config self dependency (#1011)
  AGENTS_EXTRA.md
  packages/oxlint-config/oxlint.config.ts
  packages/oxlint-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json
