Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

chore: update yarn.lock
  yarn.lock
Due: none

chore: willboosterify this repo
  .yarn/plugins/plugin-auto-install.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0-rc.6.cjs
  .yarnrc.yml
  lerna.json
  package.json
  packages/eslint-config-ts/tsconfig.json
  tsconfig.json
Due: prettier --write, sort-package-json

feat: enhance lint rules
  packages/eslint-config-js-react/__tests__/test.jsx
  packages/eslint-config-js/__tests__/test.js
  packages/eslint-config-ts-react/__tests__/test.tsx
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/__tests__/test.ts
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/__tests__/test.jsx
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/__tests__/test.js
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-js-react/.eslintignore
  packages/eslint-config-js/.eslintignore
  packages/eslint-config-ts-react/.eslintignore
Due: none

feat(renovate): re-enable group:linters and group:test
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

.
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintrc.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-ts-react/.eslintrc.json
Due: prettier --write

.
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

.
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

feat: enhance lint rules (#289)
  packages/eslint-config-js-react/.eslintignore
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/__tests__/test.jsx
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.eslintignore
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/__tests__/test.js
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.eslintignore
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/__tests__/test.tsx
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/.eslintrc.json
  packages/eslint-config-ts/__tests__/test.ts
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0-rc.6.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  .yarn/releases/yarn-3.2.0-rc.6.cjs
  .yarn/releases/yarn-3.2.0-rc.7.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update all non-major dependencies
  .yarn/releases/yarn-3.2.0-rc.7.cjs
  .yarn/releases/yarn-3.2.0-rc.8.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.5.0
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  .yarn/releases/yarn-3.2.0-rc.8.cjs
  .yarn/releases/yarn-3.2.0-rc.9.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.6.0
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  .yarn/releases/yarn-3.2.0-rc.10.cjs
  .yarn/releases/yarn-3.2.0-rc.9.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies to v5.9.1
  package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: add yarn-plugin-auto-install
  .yarn/plugins/plugin-auto-install.cjs
  .yarn/plugins/plugin-auto-install/.gitignore
Due: none

feat: refine rules for object destructuring
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

.
  packages/eslint-config-js/.eslintrc.json
Due: prettier --write

feat: refine rules for object destructuring (#306)
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

v6.5.1
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

fix: allow any name in object destructuring of parameter
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

v7.0.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

feat: employ eslint-import-resolver-typescript and yarn workspace
  .husky/pre-commit
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  lerna.json
  package.json
  packages/common/.eslintrc.json
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/tsconfig.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/__tests__/test.tsx
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintrc.json
  packages/eslint-config-ts/__tests__/test.ts
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: employ multi-semantic-release
  .github/workflows/release.yml
  .github/workflows/test.yml
  .releaserc.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: use propser personal access token
  .github/workflows/release.yml
Due: prettier --write
