Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

fix: ignore bin directory
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-next/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  95dbc2dc14bca19b1e01ad5f4dc8446ed24b3597
Due: none

fix: change import-x/no-named-as-default-member to warn
  packages/eslint-config-js/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  8ba30e8952f4b748dd824a50af795b19c9dc5863
Due: none

fix: fix linter rules for React component functions
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  96c10058cf91ec7bf945ba1886b624d960399e35
Due: none

fix: fix ignores
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-next/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  ff1e7c39392871c30f80fd9d90930325e06f67a4
Due: none

fix: tweak @typescript-eslint/no-misused-promises
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  0937902cc362e26e08e8f87a8418b8a3bdc762d7
Due: none

fix: apply changes by lint-fix and build
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/package.json
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: apply changes by lint-fix and build
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  6e712fb2f22674adb3bc45159faa06137b85ebff
Due: none

chore: willboosterify this repo
  .releaserc.json
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/prettier-config/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  packages/shared/tsconfig.json
  renovate.json5
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

docs: refine README
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js/README.md
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-next/README.md
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts/README.md
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

fix: add eslint-config-flat-gitignore in shared
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: disable @typescript-eslint/restrict-template-expressions
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
