Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.46.cjs
  .yarn/releases/yarn-4.0.0-rc.47.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarnrc.yml
Due: prettier --write

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.47.cjs
  .yarn/releases/yarn-4.0.0-rc.48.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarnrc.yml
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  package.json
  packages/eslint-config-blitz-next/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: make eslint-config-blitz-next independent of eslint-config-ts-react
  package.json
  packages/eslint-config-blitz-next/.eslintrc.js
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/.eslintrc.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  e0f9cff8ef105094ae065d64e504e33b8db56416
Due: none

fix(eslint-config-blitz-next): add @willbooster/eslint-config-ts in dependencies
  packages/eslint-config-blitz-next/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  908198d51d0722bfe5799405af72f50071e28839
Due: none

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat(eslint-config-ts): change @typescript-eslint/no-unused-vars from "warn" to "error"
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

feat(eslint-config-ts): change @typescript-eslint/no-unused-vars from "warn" to "error" (#496)
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  e286dde20820f5820917b3405e4eaecd7979e136
Due: none

fix: migrate from npm-hosted preset to GitHub-hosted preset
  .renovaterc.json
  packages/renovate-config/.gitignore
  packages/renovate-config/.lintstagedrc.cjs
  packages/renovate-config/.prettierignore
  packages/renovate-config/LICENSE
  packages/renovate-config/NOTICE
  packages/renovate-config/README.md
  packages/renovate-config/package.json
  renovate.json5
Due: prettier --write, sort-package-json

fix: update yarn.lock
  yarn.lock
Due: none

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(renovate): re-add rule for python
  renovate.json5
Due: none

feat(eslint-config-ts): disallow enum and use error instead of warn
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  58802276e3ac517ab8c55060ef3584e3c6e0e3b9
Due: none

chore: willboosterify this repo
  .github/workflows/test.yml
Due: prettier --write

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat(renovate): allow to merge linters, testers and types automatically
  renovate.json5
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
