Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

fix: avoid workspace protocol in release metadata
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: avoid workspace protocol in release metadata (#927)
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  57741497c221d33b280881171eb42384bf7df61b
Due: none

fix: avoid private workspace release edge
  packages/shared/eslint.config.js
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: avoid private workspace release edge (#928)
  packages/shared/eslint.config.js
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  0993415f150c82dcf77bbf963b24c42c341572f9
Due: none

feat: enable oxlint react plugins
  packages/oxlint-config/.oxlintrc.json
  packages/oxlint-config/README.md
Due: prettier --write

feat: enable oxlint promise rules
  packages/oxlint-config/.oxlintrc.json
  packages/oxlint-config/README.md
Due: prettier --write

fix: support latest oxlint
  packages/oxlint-config/.oxlintrc.json
  packages/oxlint-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: align oxlint rules with recommended presets
  packages/oxlint-config/.oxlintrc.json
Due: prettier --write

feat: enable oxlint react plugins (#929)
  packages/oxlint-config/.oxlintrc.json
  packages/oxlint-config/README.md
  packages/oxlint-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  df8f5af2550a4110ad057d29cd9a8ff1c9557ab2
Due: none

feat: align oxlint and oxfmt ignores
  packages/oxfmt-config/.oxfmtrc.json
  packages/oxlint-config/.oxlintrc.json
Due: prettier --write

feat: align oxlint and oxfmt ignores (#930)
  packages/oxfmt-config/.oxfmtrc.json
  packages/oxlint-config/.oxlintrc.json
Due: prettier --write

Notes added by 'git notes add'
  560524d3923d3ed8ebd68b230eca8c53a3f73016
Due: none

feat: enable oxlint type checking
  packages/oxlint-config/.oxlintrc.json
  packages/oxlint-config/README.md
Due: prettier --write

fix: make oxlint type check verification pass
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/tsconfig.json
  packages/oxlint-config/.oxlintrc.json
Due: prettier --write

test: add oxlint debug fixtures
  packages/oxlint-config/README.md
  packages/oxlint-config/test/component.jsx
  packages/oxlint-config/test/typeAware.mts
  packages/oxlint-config/tsconfig.json
Due: prettier --write

feat: enable oxlint type checking (#931)
  packages/eslint-config-ts-react/tsconfig.json
  packages/oxlint-config/.oxlintrc.json
  packages/oxlint-config/README.md
  packages/oxlint-config/test/component.jsx
  packages/oxlint-config/test/typeAware.mts
  packages/oxlint-config/tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  f1a94f9d73ffe161fe9448a2a9c88f72a1efd5de
Due: none

fix: relax hook dependency lint severity
  packages/oxlint-config/.oxlintrc.json
Due: prettier --write

fix: relax nested ternary lint severity
  packages/oxlint-config/.oxlintrc.json
Due: prettier --write

docs: explain warning oxlint rules
  packages/oxlint-config/.oxlintrc.json
Due: prettier --write

fix: relax numeric and ternary style rules
  packages/oxlint-config/.oxlintrc.json
Due: prettier --write

.
  packages/oxlint-config/.oxlintrc.json
Due: prettier --write

fix: relax hook dependency lint severity (#932)
  packages/oxlint-config/.oxlintrc.json
Due: prettier --write

Notes added by 'git notes add'
  73d54e50a077ea872d17b3086d3f7da341d0203f
Due: none

chore: rename oxlint config to jsonc
  packages/oxlint-config/.oxlintrc.jsonc
  packages/oxlint-config/README.md
  packages/oxlint-config/package.json
Due: prettier --write, sort-package-json

fix: rename oxlint config to jsonc (#933)
  packages/oxlint-config/.oxlintrc.jsonc
  packages/oxlint-config/README.md
  packages/oxlint-config/package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  05d9d04238b6ccee3644a11b265db6b2109bda5b
Due: none

feat: export reusable oxlint config module
  packages/oxlint-config/.oxlintrc.jsonc
  packages/oxlint-config/config.d.ts
  packages/oxlint-config/config.mjs
  packages/oxlint-config/oxlint.config.ts
  packages/oxlint-config/package.json
Due: prettier --write, sort-package-json

feat: export reusable oxlint config module (#934)
  packages/oxlint-config/.oxlintrc.jsonc
  packages/oxlint-config/config.d.ts
  packages/oxlint-config/config.mjs
  packages/oxlint-config/oxlint.config.ts
  packages/oxlint-config/package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  d138c605a16a6b5d50f6e3898bc19c1589b2ce4e
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
