Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

v0.1.4
  lerna.json
  projects/eslint-config-pure-js/package.json
  projects/eslint-config-react/package.json
  projects/eslint-config/package.json
  projects/prettier-config/package.json
  projects/renovate-config/package.json
  projects/tsconfig/package.json
Due: prettier --write, sort-package-json

chore: yarn lerna publish
  lerna.json
  projects/eslint-config-pure-js/package.json
  projects/eslint-config-react/package.json
  projects/eslint-config/package.json
  projects/prettier-config/package.json
  projects/renovate-config/package.json
  projects/tsconfig/package.json
Due: prettier --write, sort-package-json

v0.1.5
  lerna.json
  projects/eslint-config-pure-js/package.json
  projects/eslint-config-react/package.json
  projects/eslint-config/package.json
  projects/prettier-config/package.json
  projects/renovate-config/package.json
  projects/tsconfig/package.json
Due: prettier --write, sort-package-json

chore: yarn lerna publish
  projects/eslint-config-pure-js/package.json
  projects/eslint-config-react/package.json
  projects/eslint-config/package.json
  projects/prettier-config/package.json
  projects/renovate-config/package.json
  projects/tsconfig/package.json
Due: prettier --write, sort-package-json

v0.1.6
  lerna.json
  projects/eslint-config-pure-js/package.json
  projects/eslint-config-react/package.json
  projects/eslint-config/package.json
  projects/prettier-config/package.json
  projects/renovate-config/package.json
  projects/tsconfig/package.json
Due: prettier --write, sort-package-json

feat(eslint-config): disable import/default
  projects/eslint-config/.eslintrc.json
Due: prettier --write

v1.0.0
  lerna.json
  projects/eslint-config-pure-js/package.json
  projects/eslint-config-react/package.json
  projects/eslint-config/package.json
  projects/prettier-config/package.json
  projects/renovate-config/package.json
  projects/tsconfig/package.json
Due: prettier --write, sort-package-json

refactor: rename projects to packages
  README.md
  lerna.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: add gen-configs package
  package.json
  packages/eslint-config-pure-js/.eslintrc.json
  packages/eslint-config-pure-js/LICENSE
  packages/eslint-config-pure-js/NOTICE
  packages/eslint-config-pure-js/README.md
  packages/eslint-config-pure-js/package.json
  packages/eslint-config-react/.eslintrc.json
  packages/eslint-config-react/LICENSE
  packages/eslint-config-react/NOTICE
  packages/eslint-config-react/README.md
  packages/eslint-config-react/package.json
  packages/eslint-config/.eslintrc.json
  packages/eslint-config/LICENSE
  packages/eslint-config/NOTICE
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/gen-configs/.gitignore
  packages/gen-configs/package.json
  packages/gen-configs/src/PackageConfig.ts
  packages/gen-configs/src/gitignore.ts
  packages/gen-configs/src/main.ts
  packages/gen-configs/tsconfig.json
  packages/prettier-config/.prettierrc.json
  packages/prettier-config/LICENSE
  packages/prettier-config/NOTICE
  packages/prettier-config/README.md
  packages/prettier-config/package.json
  packages/renovate-config/.gitignore
  packages/renovate-config/LICENSE
  packages/renovate-config/NOTICE
  packages/renovate-config/README.md
  packages/renovate-config/package.json
  packages/tsconfig/LICENSE
  packages/tsconfig/NOTICE
  packages/tsconfig/README.md
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

implementing
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/gen-configs/src/generators/packageJson.ts
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

implementing
  package.json
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/README.md
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/README.md
  packages/eslint-config-ts/package.json
  packages/gen-configs/package.json
  packages/gen-configs/src/generators/packageJson.ts
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

fix(gen-configs): updator for dependabot
  packages/gen-configs/package.json
  packages/gen-configs/src/generators/dependabot.ts
  packages/gen-configs/src/generators/editorconfig.ts
  packages/gen-configs/src/generators/packageJson.ts
  packages/gen-configs/src/generators/tsconfig.ts
  packages/gen-configs/src/main.ts
  packages/gen-configs/src/utils/ignoreFileUtil.ts
  packages/gen-configs/src/utils/mergeUtil.ts
  yarn.lock
Due: prettier --write, sort-package-json

remove D
  packages/gen-configs/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(gen-configs): updator for dependabot (#173)
  packages/gen-configs/package.json
  packages/gen-configs/src/generators/dependabot.ts
  packages/gen-configs/src/generators/editorconfig.ts
  packages/gen-configs/src/generators/packageJson.ts
  packages/gen-configs/src/generators/tsconfig.ts
  packages/gen-configs/src/main.ts
  packages/gen-configs/src/utils/ignoreFileUtil.ts
  packages/gen-configs/src/utils/mergeUtil.ts
  yarn.lock
Due: prettier --write, sort-package-json

docs: README.md
  README.md
Due: prettier --write

build: employ semantic-release
  .circleci/config.yml
  .releaserc.json
  lerna.json
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/gen-configs/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
  yarn.lock
Due: prettier --write, sort-package-json

build: employ semantic-release (#174)
  .circleci/config.yml
  .releaserc.json
  lerna.json
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/gen-configs/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(gen-configs): improve behavior employing oclif
  .circleci/config.yml
  package.json
  packages/gen-configs/bin/run
  packages/gen-configs/bin/run.cmd
  packages/gen-configs/package.json
  packages/gen-configs/src/generators/dependabot.ts
  packages/gen-configs/src/generators/editorconfig.ts
  packages/gen-configs/src/generators/eslintignore.ts
  packages/gen-configs/src/generators/eslintrc.ts
  packages/gen-configs/src/generators/gitignore.ts
  packages/gen-configs/src/generators/huskyrc.ts
  packages/gen-configs/src/generators/lernaJson.ts
  packages/gen-configs/src/generators/lintstagedrc.ts
  packages/gen-configs/src/generators/packageJson.ts
  packages/gen-configs/src/generators/prettierignore.ts
  packages/gen-configs/src/generators/tsconfig.ts
  packages/gen-configs/src/generators/yarnrc.ts
  packages/gen-configs/src/index.ts
  packages/gen-configs/src/main.ts
  packages/gen-configs/src/types/packageConfig.ts
  packages/gen-configs/webpack.config.js
  packages/tsconfig/tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/tsconfig/tsconfig.json
Due: prettier --write

fix(gen-configs): improve behavior employing oclif (#175)
  .circleci/config.yml
  package.json
  packages/gen-configs/bin/run
  packages/gen-configs/bin/run.cmd
  packages/gen-configs/package.json
  packages/gen-configs/src/generators/dependabot.ts
  packages/gen-configs/src/generators/editorconfig.ts
  packages/gen-configs/src/generators/eslintignore.ts
  packages/gen-configs/src/generators/eslintrc.ts
  packages/gen-configs/src/generators/gitignore.ts
  packages/gen-configs/src/generators/huskyrc.ts
  packages/gen-configs/src/generators/lernaJson.ts
  packages/gen-configs/src/generators/lintstagedrc.ts
  packages/gen-configs/src/generators/packageJson.ts
  packages/gen-configs/src/generators/prettierignore.ts
  packages/gen-configs/src/generators/tsconfig.ts
  packages/gen-configs/src/generators/yarnrc.ts
  packages/gen-configs/src/index.ts
  packages/gen-configs/src/main.ts
  packages/gen-configs/src/types/packageConfig.ts
  packages/gen-configs/webpack.config.js
  yarn.lock
Due: prettier --write, sort-package-json

build: fix deployment script
  .circleci/config.yml
Due: prettier --write

.
  README.md
Due: prettier --write

v2.0.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

build: add publish-all script
  README.md
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

build: willboosterify all packages
  .dependabot/config.yml
  .editorconfig
  .gitignore
  .prettierignore
  lerna.json
  package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/renovate-config/package.json
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

.
  .gitignore
  .prettierignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.prettierignore
  packages/tsconfig/.prettierignore
Due: none

build: willboosterify all packages (#177)
  .dependabot/config.yml
  .editorconfig
  .gitignore
  .prettierignore
  lerna.json
  package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  packages/renovate-config/package.json
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

ci: don't use Wercker
  README.md
  wercker.yml
Due: prettier --write

docs: refine README
  README.md
Due: prettier --write

chore: willboosterify this repo
  .prettierignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.prettierignore
  packages/tsconfig/.prettierignore
  yarn.lock
Due: none

chore: willboosterify this repo (#178)
  .prettierignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.prettierignore
  packages/tsconfig/.prettierignore
  yarn.lock
Due: none

chore: willboosterify this repo
  .editorconfig
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo (#179)
  .editorconfig
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  yarn.lock
Due: none

chore: willboosterify this repo (#186)
  yarn.lock
Due: none

chore: willboosterify this repo upgrading dependencies
  .prettierignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.prettierignore
  packages/tsconfig/.prettierignore
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
