Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

chore: willboosterify this repo
  .eslintignore
  .github/workflows/autofix.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: wbfy this repo
  .github/workflows/autofix.yml
  yarn.lock
Due: prettier --write

feat: relax npm minimum age for preapproved deps
  renovate.json5
Due: none

feat: relax npm minimum age for preapproved deps (#854)
  renovate.json5
Due: none

fix: update dependencies
  .yarnrc.yml
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: update dependencies (#856)
  .yarnrc.yml
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  e95e72a2a7c27973503875b234a90b17a142b5f8
Due: none

fix: add test/ci script
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .eslintignore
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .eslintignore
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .eslintignore
  .husky/pre-commit
  .husky/pre-push
  .lefthook/post-merge/prepare.sh
  .lefthook/pre-push/check.sh
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .eslintignore
  .husky/pre-commit
  .husky/pre-push
  .lefthook/post-merge/prepare.sh
  .lefthook/pre-push/check.sh
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: exclude prisma from renovate
  renovate.json5
Due: none

fix: exclude prisma from renovate (#874)
  renovate.json5
Due: none

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .eslintignore
  .husky/pre-commit
  .husky/pre-push
  .lefthook/post-merge/prepare.sh
  .lefthook/pre-push/check.sh
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .eslintignore
  .husky/pre-commit
  .husky/pre-push
  .lefthook/post-merge/prepare.sh
  .lefthook/pre-push/check.sh
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: apply wbfy updates
  .cursor/rules/general.mdc
  .husky/pre-commit
  .husky/pre-push
  .lefthook/post-merge/prepare.sh
  .lefthook/pre-push/check.sh
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: apply wbfy updates (#886)
  .cursor/rules/general.mdc
  .husky/pre-commit
  .husky/pre-push
  .lefthook/post-merge/prepare.sh
  .lefthook/pre-push/check.sh
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: reduce renovate grouping granularity
  renovate.json5
Due: none

feat: add practical renovate non-major groups
  renovate.json5
Due: none

Update renovate.json5
  renovate.json5
Due: none

feat: add practical renovate non-major groups (#888)
  renovate.json5
Due: none

fix: avoid parentheses in renovate branch names
  renovate.json5
Due: none

fix: use full renovate dependency group names
  renovate.json5
Due: none

fix: shorten renovate group slugs
  renovate.json5
Due: none

fix: improve renovate dependency group branch names (#889)
  renovate.json5
Due: none

fix: split renovate dependency groups by update type
  renovate.json5
Due: none

fix: align renovate grouping with all-non-major behavior
  renovate.json5
Due: none

fix: split all non-major renovate updates by type
  renovate.json5
Due: none

fix: split all non-major renovate updates by type (#890)
  renovate.json5
Due: none

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .eslintignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  lefthook.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: update dependencies (#901)
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  6796aa1b02cd4e2d0054b663fbac7490f4af248b
Due: none
