Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore: willboosterify this repo
  .editorconfig
  .idea/watcherTasks.xml
Due: none

chore: willboosterify this repo (#216)
  .editorconfig
  .idea/watcherTasks.xml
Due: none

chore: willboosterify this repo
  .editorconfig
Due: none

chore: willboosterify this repo (#217)
  .editorconfig
Due: none

chore(deps): update all non-major dependencies
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading Prettier
  .idea/watcherTasks.xml
  .renovaterc.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading Prettier (#219)
  .idea/watcherTasks.xml
  .renovaterc.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading Prettier
  .lintstagedrc.js
Due: prettier --write

chore: willboosterify this repo upgrading Prettier (#220)
  .lintstagedrc.js
Due: prettier --write

chore: willboosterify .ignore files
  .gitignore
  .prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
Due: none

chore: willboosterify .ignore files (#221)
  .gitignore
  .prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
Due: none

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify .ignore files (#223)
  .gitignore
  .prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
Due: none

chore: willboosterify this repo
  .idea/watcherTasks.xml
Due: none

chore: willboosterify this repo (#224)
  .idea/watcherTasks.xml
Due: none

chore: willboosterify this repo (#225)
  .idea/watcherTasks.xml
Due: none

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint to v7
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency eslint-plugin-react-hooks to v4
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency prettier to v2
  packages/prettier-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update typescript-eslint monorepo to v3
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat!: deal with breaking changes in dependencies
  .circleci/config.yml
  .github/workflows/check-and-build.yml
  .releaserc.json
  README.md
  package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintrc.json
  packages/eslint-config-ts/__tests__/namingConvention.ts
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/prettier-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

v4.0.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

build: employ dotenv-cli for lerna publish
  lerna.json
  package.json
Due: prettier --write, sort-package-json

fix: peerDependencies
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

v4.0.1
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
