Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(biome-config): don't ignore package.json
  packages/biome-config/biome.jsonc
Due: none

Notes added by 'git notes add'
  27bc93415a1f4a0ca56b04e460223e93395770dd
Due: none

fix(renovate): exclude eslint
  renovate.json5
Due: none

fix(renovate): disable blitz packages
  renovate.json5
Due: none

chore: willboosterify this repo
  .gitattributes
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(biome): ignore dist
  packages/biome-config/biome.jsonc
Due: none

Notes added by 'git notes add'
  da8b5ecc490127991c6e9423167388798cdfb10d
Due: none

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(biome): ignore test-results
  packages/biome-config/biome.jsonc
Due: none

Notes added by 'git notes add'
  2c86e70df2e302d1d19d4a7faac435e0e6a6d391
Due: none

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/pull_request_template.md
Due: prettier --write

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: improve renovate settings for private repos
  renovate.json5
Due: none

chore: willboosterify this repo
  .lintstagedrc.cjs
  packages/babel-configs/.lintstagedrc.cjs
  packages/biome-config/.lintstagedrc.cjs
  packages/eslint-config-blitz-next/.lintstagedrc.cjs
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/prettier-config/.lintstagedrc.cjs
  packages/rollup-configs/.lintstagedrc.cjs
  packages/shared/.lintstagedrc.cjs
  yarn.lock
Due: prettier --write, sort-package-json

fix: willboosterify this repo
  .lintstagedrc.cjs
  packages/babel-configs/.lintstagedrc.cjs
  packages/biome-config/.lintstagedrc.cjs
  packages/eslint-config-blitz-next/.lintstagedrc.cjs
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/prettier-config/.lintstagedrc.cjs
  packages/rollup-configs/.lintstagedrc.cjs
  packages/shared/.lintstagedrc.cjs
Due: none

Notes added by 'git notes add'
  9a02f84b33fface2929d1af8b2c1c8d0d6169db1
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
