Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(eslint-config-next): settings for import/no-default-export
  packages/eslint-config-next/.eslintrc.js
Due: prettier --write

Notes added by 'git notes add'
  1d5cd0388969111ae536129778cb045e947f5675
Due: none

feat(renovate): refine configs for pin and docker
  renovate.json5
Due: none

feat: disable automated update of @willbooster/judge
  renovate.json5
Due: none

feat(eslint-config-next): migrate for App Router
  packages/eslint-config-next/.eslintrc.js
Due: prettier --write

fix: don't restrict naming convention in import
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintrc.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  63d442f5f58c44c96c09d9a5a843bd6a967f34ca
Due: none

fix: upgrade dependencies
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  13771043719cded3a1527c0c0221c794969a7254
Due: none

.
  packages/eslint-config-next/.eslintrc.js
  packages/eslint-config-next/.eslintrc.json
  packages/eslint-config-next/package.json
Due: prettier --write, sort-package-json

feat(eslint-config-next): migrate for App Router (#529)
  packages/eslint-config-next/.eslintrc.js
  packages/eslint-config-next/.eslintrc.json
  packages/eslint-config-next/package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  decc0ad2bce486edc6fa7c70c892dd983aea817b
Due: none

fix(eslint-config-next): add files that require default export
  packages/eslint-config-next/.eslintrc.json
Due: prettier --write

fix(eslint-config-next): add files that require default export (#560)
  packages/eslint-config-next/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  1d80a405b0ece51124cb30e567ad452d5560bae3
Due: none

feat: add @willbooster/biome-config
  .husky/_/husky.sh
  package.json
  packages/biome-config/.gitignore
  packages/biome-config/.lintstagedrc.cjs
  packages/biome-config/.prettierignore
  packages/biome-config/LICENSE
  packages/biome-config/NOTICE
  packages/biome-config/README.md
  packages/biome-config/biome.jsonc
  packages/biome-config/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: fix NOTICE
  packages/biome-config/NOTICE
Due: none

Notes added by 'git notes add'
  dc20aa747bc4a451036574db419f22dad201bd21
Due: none

Notes added by 'git notes add'
  e277048cbe85eaebda80b69ff4651f605641efa2
Due: none

fix: tweak formatter settings
  packages/biome-config/biome.jsonc
Due: none

Notes added by 'git notes add'
  decca931a94691fe2f9291c09672bb54f457a299
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
