Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

fix: upgrade dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/renovate-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  6406642dc69f355f41676d7e0343bcd83a0e2cf5
Due: none

chore: willboosterify this repo
  package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: enable object-shorthand
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  82b6f2505662d8b080eb95def8ad11b67565e653
Due: none

feat(babel): add babel-config package
  packages/babel-config/.gitignore
  packages/babel-config/.lintstagedrc.cjs
  packages/babel-config/.prettierignore
  packages/babel-config/LICENSE
  packages/babel-config/NOTICE
  packages/babel-config/README.md
  packages/babel-config/babel.config.js
  packages/babel-config/babel.react.config.js
  packages/babel-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  bd040814a14520352fd193710a6004ea838452d2
Due: none

feat: add publishConfig in package.json
  packages/babel-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat(babel): add babel.corejs.config.js
  packages/babel-config/babel.corejs.config.js
Due: prettier --write

Notes added by 'git notes add'
  9b55e32df0a050fadd3e71dccb5c6ca40f5c5e82
Due: none

Notes added by 'git notes add'
  31b36d4c0ffb3f6a9ea8fd99c349a6c94933121d
Due: none

fix: dependencies
  package.json
  packages/babel-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/renovate-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  832f8bc63507680f86879e65eb8169226479d157
Due: none

feat(babel): add babel.corejs.react.config.js
  packages/babel-config/babel.corejs.react.config.js
Due: prettier --write

Notes added by 'git notes add'
  8f840117f233df04a9c41375e5d8ce170195fa94
Due: none

refactor!: rename babel-config to babel-configs
  packages/babel-configs/.gitignore
  packages/babel-configs/.lintstagedrc.cjs
  packages/babel-configs/.prettierignore
  packages/babel-configs/LICENSE
  packages/babel-configs/NOTICE
  packages/babel-configs/README.md
  packages/babel-configs/babel.config.js
  packages/babel-configs/babel.corejs.config.js
  packages/babel-configs/babel.corejs.react.config.js
  packages/babel-configs/babel.react.config.js
  packages/babel-configs/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  9d4a328c1eefdf97783e6314499f445b62848e84
Due: none

chore: willboosterify this repo
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-4.0.0-rc.14.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/close-comment.yml
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-4.0.0-rc.15.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/close-comment.yml
  README.md
Due: prettier --write

feat: add react/no-unknown-property
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-ts-react/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  e42751cbebd5c4ca5b293f2503ece7de44416785
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
