Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

chore: willboosterify this repo
  .releaserc.json
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/prettier-config/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  packages/shared/tsconfig.json
  renovate.json5
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: ignore .venv
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-next/eslint.config.js
Due: prettier --write

feat: refine dependencies
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  1f/07db0d12880a38c850a8a3e3df627f36aef238
Due: none

chore: willboosterify this repo
  .editorconfig
  .gitattributes
  .releaserc.json
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/prettier-config/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  packages/shared/tsconfig.json
  renovate.json5
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .editorconfig
  .gitattributes
  .releaserc.json
  .yarn/releases/yarn-4.8.1.cjs
  .yarnrc.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/prettier-config/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  packages/shared/tsconfig.json
  renovate.json5
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .editorconfig
  .gitattributes
  .releaserc.json
  .yarn/releases/yarn-4.8.0.cjs
  .yarn/releases/yarn-4.9.0.cjs
  .yarnrc.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/prettier-config/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  packages/shared/tsconfig.json
  renovate.json5
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(renovate): add :automergeDigest
  .idea/AugmentWebviewStateStore.xml
  renovate.json5
Due: none

.
  packages/eslint-config-next/tests/test.tsx
  packages/eslint-config-ts-react/tests/test.tsx
  packages/eslint-config-ts/tests/test.ts
Due: none

chore: willboosterify this repo
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: allow to install unstable react-compiler packages
  renovate.json5
Due: none

feat: employ eslint-plugin-react-compiler
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/README.md
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  7a/5c7f94ea5c48723ed6261c36bd5907e3c851d6
Due: none

chore: willboosterify this repo
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

fix: improve renovate settings
  renovate.json5
Due: none
