Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: make @typescript-eslint/naming-convention error
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

fix: refine settings
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

fix: tweak @typescript-eslint/naming-convention settings (#236)
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

chore(deps): update all non-major dependencies (#238)
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): lock file maintenance (#237)
  yarn.lock
Due: none

ci: tweak GitHub Actions settings
  .github/workflows/test.yml
  README.md
Due: prettier --write

docs: refine GitHub Actions badge
  README.md
Due: prettier --write

v4.0.2
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
Due: prettier --write, sort-package-json

fix(eslint-config-ts): disable '@typescript-eslint/camelcase' rule
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

v4.0.3
  lerna.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
Due: prettier --write, sort-package-json

docs: update a link to TypeScript StyleGuide
  README.md
Due: prettier --write

chore(deps): update all non-major dependencies to v3.8.0
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency dotenv-cli to v4
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency typescript to v4
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update typescript-eslint monorepo to v4
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
