Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/test.yml
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .eslintignore
  .gitignore
  .prettierignore
  packages/babel-configs/.gitignore
  packages/babel-configs/.prettierignore
  packages/eslint-config-blitz-next/.eslintignore
  packages/eslint-config-blitz-next/.gitignore
  packages/eslint-config-blitz-next/.prettierignore
  packages/eslint-config-js-react/.eslintignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.eslintignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.eslintignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.eslintignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/rollup-configs/.gitignore
  packages/rollup-configs/.prettierignore
  packages/shared/.eslintignore
  packages/shared/.gitignore
  packages/shared/.prettierignore
Due: none

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/test.yml
Due: prettier --write

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/add-ready-issue-to-project.yml
  .husky/pre-push
  .yarn/releases/yarn-4.0.0-rc.48.cjs
  .yarn/releases/yarn-4.0.0-rc.49.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: enable spaced-comment
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  e348a49262b1330a42950a79278992c6222e14bf
Due: none

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.49.cjs
  .yarn/releases/yarn-4.0.0-rc.50.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(renovate): don't upgrade conventional-changelog-conventionalcommits automatically
  renovate.json5
Due: none

chore: willboosterify this repo
  .github/workflows/add-focused-issue-to-project.yml
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(renovate): allowedVersions syntax
  renovate.json5
Due: none

fix(renovate): node update
  renovate.json5
Due: none

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/pull_request_template.md
Due: prettier --write

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.50.cjs
  .yarn/releases/yarn-4.0.0-rc.51.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/pull_request_template.md
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

docs: renovate.json5
  renovate.json5
Due: none

feat: add eslint-config-next package
  README.md
  packages/eslint-config-next/.eslintignore
  packages/eslint-config-next/.eslintrc.js
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/.prettierignore
  packages/eslint-config-next/LICENSE
  packages/eslint-config-next/NOTICE
  packages/eslint-config-next/README.md
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tests/test.tsx
  packages/eslint-config-next/tsconfig.json
  packages/rollup-configs/NOTICE
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  5a5e82239c8c9cb1dc87737a8762fc3c282b1a3c
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
