Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-blitz-next/tsconfig.json
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-blitz-next/tsconfig.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/prettier-config/package.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: employ flat config
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-blitz-next/eslint.config.js
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
  yarn.lock
Due: prettier --write

.
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  package.json
  packages/eslint-config-blitz-next/.eslintrc.js
  packages/eslint-config-blitz-next/eslint.config.js
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-next/.eslintrc.json
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintrc.json
  packages/eslint-config-ts/eslint.config.js
  packages/shared/.eslintrc.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/shared/eslint.config.js
Due: prettier --write

.
  packages/eslint-config-blitz-next/.eslintignore
  packages/eslint-config-blitz-next/.gitignore
  packages/eslint-config-blitz-next/.lintstagedrc.cjs
  packages/eslint-config-blitz-next/.prettierignore
  packages/eslint-config-blitz-next/LICENSE
  packages/eslint-config-blitz-next/NOTICE
  packages/eslint-config-blitz-next/README.md
  packages/eslint-config-blitz-next/eslint.config.js
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-blitz-next/tests/test.tsx
  packages/eslint-config-blitz-next/tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .releaserc.json
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-blitz-next/tsconfig.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tsconfig.json
  packages/prettier-config/package.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  renovate.json5
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/.eslintignore
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js-react/tests/MyComponent.jsx
  packages/eslint-config-js/.eslintignore
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/README.md
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/package.json
  packages/eslint-config-js/tests/test.cjs
  packages/eslint-config-js/tests/test2.mjs
  packages/eslint-config-next/README.md
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/README.md
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/eslint.config.js
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js-react/tests/MyComponent.jsx
  packages/eslint-config-js-react/tests/test2.js
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/README.md
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/.eslintignore
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/README.md
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/package.json
  packages/eslint-config-ts/tests/test2.mts
  yarn.lock
Due: prettier --write, sort-package-json

.
  package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/README.md
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js-react/tests/test.jsx
  packages/eslint-config-js/README.md
  packages/eslint-config-js/package.json
  packages/eslint-config-js/tests/test.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.eslintignore
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts-react/tests/MyComponent.tsx
  packages/eslint-config-ts-react/tests/test2.ts
  packages/eslint-config-ts/README.md
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/README.md
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.eslintignore
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-next/src/app/page.tsx
  packages/eslint-config-next/tests/MyComponent.jsx
  packages/eslint-config-next/tests/test2.js
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/README.md
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts/eslint.config.js
  yarn.lock
Due: prettier --write, sort-package-json

.
  packages/eslint-config-next/eslint.config.js
Due: prettier --write

.
  packages/shared/.eslintignore
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.js
Due: prettier --write

fix: remove workspace:*
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  1d3c253db166d59931bed49935453d9fe36e53a6
Due: none

fix: update yarn.lock
  yarn.lock
Due: none

fix: refine dependencies
  packages/eslint-config-next/README.md
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/README.md
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  6d7a93334a6250221940eac4deebd1d618aef853
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
