Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

feat(eslint-configs): prefer one variable declaration per line
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  233dddc26ff370c3b7e4abc72d510d1c638e3e44
Due: none

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

refactor: remove plugin:@typescript-eslint/eslint-recommended
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.42.cjs
  .yarn/releases/yarn-4.0.0-rc.43.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.43.cjs
  .yarn/releases/yarn-4.0.0-rc.44.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

feat(eslint-config-ts): enable @typescript-eslint/consistent-type-imports
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.44.cjs
  .yarn/releases/yarn-4.0.0-rc.45.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat(eslint-config-ts): enable @typescript-eslint/consistent-type-imports (#481)
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  33ab652f0b14a089c726970f0c4958be6e75d04b
Due: none

chore: willboosterify this repo
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.45.cjs
  .yarn/releases/yarn-4.0.0-rc.46.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .releaserc.json
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/rollup-configs/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
