Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

Notes added by 'git notes add'
  37ea7a03bac058d162e9b5df0dc886bde6d344d7
Due: none

chore: apply wbfy
  .cursor/rules/general.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: apply wbfy after oxlint config fix (#1012)
  .cursor/rules/general.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .gitignore
  .prettierignore
  packages/babel-configs/.gitignore
  packages/biome-config/.gitignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-next/.gitignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts/.gitignore
  packages/oxfmt-config/.gitignore
  packages/oxlint-config/.gitignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/shared/.gitignore
Due: none

fix: remove dotenv-cli
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .yarn/releases/yarn-4.15.0.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: remove dotenv-cli dependency (#1021)
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: remove release dependency loop
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: remove release dependency loop (#1023)
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  af21e150d05d87c94a71ef71c7a0620cac4e757a
Due: none

chore: willboosterify this repo
  .github/workflows/autofix.yml
Due: prettier --write

chore: willboosterify this repo
  .yarn/releases/yarn-4.16.0.cjs
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .gitignore
  .prettierignore
  oxlint.config.ts
  package.json
  packages/babel-configs/.gitignore
  packages/babel-configs/oxlint.config.ts
  packages/babel-configs/package.json
  packages/biome-config/.gitignore
  packages/biome-config/oxlint.config.ts
  packages/biome-config/package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/oxlint.config.ts
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/oxlint.config.ts
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/oxlint.config.ts
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/oxlint.config.ts
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/oxlint.config.ts
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/oxlint.config.ts
  packages/oxfmt-config/package.json
  packages/oxlint-config/.gitignore
  packages/oxlint-config/oxlint.config.ts
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/oxlint.config.ts
  packages/prettier-config/package.json
  packages/shared/.gitignore
  packages/shared/oxlint.config.ts
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  oxfmt.config.ts
  oxlint.config.ts
  packages/babel-configs/oxlint.config.ts
  packages/biome-config/oxlint.config.ts
  packages/eslint-config-js-react/oxfmt.config.ts
  packages/eslint-config-js-react/oxlint.config.ts
  packages/eslint-config-js/oxfmt.config.ts
  packages/eslint-config-js/oxlint.config.ts
  packages/eslint-config-next/oxfmt.config.ts
  packages/eslint-config-next/oxlint.config.ts
  packages/eslint-config-ts-react/oxfmt.config.ts
  packages/eslint-config-ts-react/oxlint.config.ts
  packages/eslint-config-ts/oxfmt.config.ts
  packages/eslint-config-ts/oxlint.config.ts
  packages/oxfmt-config/oxlint.config.ts
  packages/oxlint-config/oxfmt.config.ts
  packages/oxlint-config/oxlint.config.ts
  packages/prettier-config/oxlint.config.ts
  packages/shared/oxfmt.config.ts
  packages/shared/oxlint.config.ts
Due: none

chore: willboosterify this repo
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxlint-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json
