Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

chore: willboosterify this repo
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  yarn.lock
Due: none

fix: update biome configs
  packages/biome-config/biome.jsonc
Due: none

ci: fix release.yml
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  82189f0dfc7c8f0f703f9e95f43a4ef47de8d400
Due: none

fix: wbfy this repo
  .github/workflows/add-issue-to-project.yml
  .github/workflows/add-ready-issue-to-project.yml
  .github/workflows/gen-pr-claude.yml
  .github/workflows/gen-pr-codex.yml
  .github/workflows/gen-pr-gemini.yml
  .github/workflows/test.yml
  .github/workflows/wbfy-merge.yml
  .husky/pre-commit
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  ec6d7dbf402878ecd790dbdf41dbb9c365c3257c
Due: none

chore: willboosterify this repo
  .eslintignore
  .github/workflows/wbfy.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .eslintignore
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/eslint.config.mjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/eslint.config.mjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/eslint.config.mjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.mjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/eslint.config.js
  packages/eslint-config-ts/eslint.config.mjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(next): use flat Next config
  packages/eslint-config-next/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  adb40d8ca12db15ee7240f1f4af4d0163468760a
Due: none

.
  packages/eslint-config-next/README.md
Due: prettier --write

.
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(react-hooks): adopt flat configs
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts-react/eslint.config.js
Due: prettier --write

.
  packages/eslint-config-js/eslint.config.js
Due: prettier --write

fix(next): use flat Next config (#826)
  package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-js/package.json
  packages/eslint-config-next/README.md
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/eslint.config.js
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  21cc90b2c2f02e3c7c387d34902dcbe86a5315d3
Due: none

fix: update peerDependencies
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
Due: prettier --write, sort-package-json

fix: update dependencies
  .yarn/patches/@willbooster-eslint-config-js-react-npm-11.5.4-273ecce8bd.patch
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  .yarn/patches/@willbooster-eslint-config-js-react-npm-11.5.4-273ecce8bd.patch
Due: none

fix: update dependencies (#828)
  package.json
  packages/babel-configs/package.json
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  0b78236a8b15791fe98708f2f816f34b31fb9f8b
Due: none

fix: update eslint-config-ts-react dependencies
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  ba2bab9a9f82604e2362d23a6b73a9ffa68d4019
Due: none

fix: support Next.js 16 beta
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json
