Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

feat(renovate): add :automergeDigest
  .tool-versions
  renovate.json5
Due: none

chore: willboosterify this repo
  .husky/post-merge
  .yarn/plugins/plugin-auto-install.cjs
  .yarnrc.yml
Due: prettier --write

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: tweka renovate settings
  renovate.json5
Due: none

feat(biome): enable noUnusedImports
  packages/biome-config/biome.jsonc
Due: none

Notes added by 'git notes add'
  1df81bcd1ed6700eaa9501da4b78c3aa4a07fae6
Due: none

fix: fix biome settings
  packages/biome-config/biome.jsonc
Due: none

Notes added by 'git notes add'
  01fa8efeccc706e6a592fdcbefa46ad057c6b38e
Due: none

fix: improve renovate.json5 and remove rollup-configs
  README.md
  packages/rollup-configs/.eslintrc.json
  packages/rollup-configs/.gitignore
  packages/rollup-configs/.lintstagedrc.cjs
  packages/rollup-configs/.prettierignore
  packages/rollup-configs/LICENSE
  packages/rollup-configs/NOTICE
  packages/rollup-configs/README.md
  packages/rollup-configs/package.json
  packages/rollup-configs/rollup.functions.config.mjs
  packages/rollup-configs/rollup.library.noBundle.config.mjs
  packages/rollup-configs/utils.mjs
  renovate.json5
  yarn.lock
Due: prettier --write, sort-package-json

fix: remove rollup-configs
  README.md
  packages/rollup-configs/.eslintrc.json
  packages/rollup-configs/.gitignore
  packages/rollup-configs/.lintstagedrc.cjs
  packages/rollup-configs/.prettierignore
  packages/rollup-configs/LICENSE
  packages/rollup-configs/NOTICE
  packages/rollup-configs/README.md
  packages/rollup-configs/package.json
  packages/rollup-configs/rollup.functions.config.mjs
  packages/rollup-configs/rollup.library.noBundle.config.mjs
  packages/rollup-configs/utils.mjs
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/pull_request_template.md
  renovate.json5
Due: prettier --write

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.5.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.5.2.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/eslint-config-blitz-next/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json
