Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore(deps): update dependency conventional-changelog-conventionalcommits to v5
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v13
  package.json
  packages/common/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.9.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/common/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/semantic.yml
Due: prettier --write

chore: willboosterify this repo
  .eslintignore
  .gitignore
  .prettierignore
  package.json
  packages/common/.eslintignore
  packages/common/.gitignore
  packages/common/.prettierignore
  packages/common/package.json
  packages/eslint-config-js-react/.eslintignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.eslintignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.eslintignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .eslintignore
  .gitignore
  .prettierignore
  packages/common/.eslintignore
  packages/common/.gitignore
  packages/common/.prettierignore
  packages/eslint-config-js-react/.eslintignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.eslintignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.eslintignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.eslintignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
Due: none

chore: willboosterify this repo
  .eslintignore
  .gitignore
  .prettierignore
  packages/common/.eslintignore
  packages/common/.gitignore
  packages/common/.prettierignore
  packages/common/package.json
  packages/eslint-config-js-react/.eslintignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.eslintignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.eslintignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  packages/common/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/common/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

docs: fix installation command
  packages/eslint-config-ts-react/README.md
Due: prettier --write

fix: installation commands
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js/README.md
  packages/eslint-config-ts/README.md
Due: prettier --write

feat(react): enable plugin:react/jsx-runtime extension
  packages/eslint-config-js-react/.eslintrc.json
  packages/eslint-config-js-react/__tests__/test.jsx
  packages/eslint-config-ts-react/.eslintrc.json
  packages/eslint-config-ts-react/__tests__/test.tsx
Due: prettier --write

chore: wbfy this repo
  .github/workflows/notify-ready.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/wbfy-merge.yml
  .github/workflows/wbfy.yml
  packages/common/package.json
  packages/eslint-config-ts-react/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

build: employ @qiwi/multi-semantic-release
  .node-version
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

build: employ node 18
  .node-version
Due: none

fix: downgrade yarn
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/releases/yarn-4.0.0-rc.14.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: don't use workspace:*
  package.json
  packages/common/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  fd01fcc88525e3ad9f1ba077e10197584742a8a1
Due: none

fix: rename common to shared
  packages/eslint-config-ts-react/__tests__/test.tsx
  packages/eslint-config-ts/__tests__/test.ts
  packages/eslint-config-ts/package.json
  packages/shared/.eslintignore
  packages/shared/.eslintrc.json
  packages/shared/.gitignore
  packages/shared/.lintstagedrc.cjs
  packages/shared/.prettierignore
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  6dccd462768ed5cd95d79470efdc8f38b94e5ae1
Due: none

fix: use 0.0.0-semantically-released
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/shared/package.json
Due: prettier --write, sort-package-json

chore: wbfy this repo
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/releases/yarn-4.0.0-rc.14.cjs
  .yarnrc.yml
  package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

build: remove .node-version
  .node-version
Due: none

Notes added by 'git notes add'
  276f1d2fb251fead7673d7361dcca5fffd620774
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
