Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: apply changes by lint-fix and build
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/shared/.lintstagedrc.cjs
  yarn.lock
Due: none

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .gemini/styleguide.md
  .github/pull_request_template.md
  .github/workflows/test.yml
  .github/workflows/wbfy-merge.yml
  .github/workflows/wbfy.yml
  .lintstagedrc.cjs
  .releaserc.json
  .yarnrc.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  packages/babel-configs/.lintstagedrc.cjs
  packages/biome-config/.lintstagedrc.cjs
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/tsconfig.json
  packages/prettier-config/.lintstagedrc.cjs
  packages/shared/tsconfig.json
  tsconfig.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/gen-pr-claude.yml
  .github/workflows/gen-pr-codex.yml
  .github/workflows/gen-pr-gemini.yml
  .github/workflows/wbfy-merge.yml
  yarn.lock
Due: prettier --write

fix: improve linter rules
  packages/biome-config/biome.jsonc
  packages/eslint-config-js-react/eslint.config.js
  packages/eslint-config-js/eslint.config.js
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  4cc0aed424899832b283625e49ac80ed8f40ff27
Due: none

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .github/workflows/gen-pr-claude.yml
  .github/workflows/gen-pr-codex.yml
  .github/workflows/gen-pr-gemini.yml
  .github/workflows/wbfy-merge.yml
  .gitignore
  .prettierignore
  packages/babel-configs/.gitignore
  packages/babel-configs/.prettierignore
  packages/biome-config/.gitignore
  packages/biome-config/.prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/shared/.gitignore
  packages/shared/.prettierignore
  yarn.lock
Due: prettier --write

fix: disable @typescript-eslint/non-nullable-type-assertion-style
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  b7f20a5565656a059d884f46db943a734ca916d1
Due: none

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: tweak settings of @typescript-eslint/prefer-nullish-coalescing
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  b51ae9557e358452c0449832ad6865c868d50f9f
Due: none

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .github/workflows/wbfy-merge.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-ts-react/tsconfig.json
  packages/eslint-config-ts/tsconfig.json
  packages/shared/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write

fix: tweak @typescript-eslint/consistent-type-definitions
  packages/eslint-config-next/eslint.config.js
  packages/eslint-config-ts/eslint.config.js
Due: prettier --write

Notes added by 'git notes add'
  8294fde972237836868ea08b812e25c2665191dd
Due: none

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  .gitignore
  .prettierignore
  packages/babel-configs/.gitignore
  packages/babel-configs/.prettierignore
  packages/biome-config/.gitignore
  packages/biome-config/.prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/.prettierignore
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/eslint-config-ts/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/shared/.gitignore
  packages/shared/.prettierignore
  packages/shared/package.json
  packages/shared/src/index.ts
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  packages/shared/src/index.ts
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json
