Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

feat: enable prettier-plugin-java
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/.prettierrc.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: enable prettier-plugin-java (#777)
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/.prettierrc.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  37e4fc68796a8540ee5ffe4d0fa099a8614c357c
Due: none

chore: willboosterify this repo
  .idea/watcherTasks.xml
  .lintstagedrc.cjs
  package.json
  packages/babel-configs/.lintstagedrc.cjs
  packages/babel-configs/package.json
  packages/biome-config/.lintstagedrc.cjs
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/prettier-config/.lintstagedrc.cjs
  packages/prettier-config/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  AGENTS.md
  CLAUDE.md
Due: prettier --write

chore: willboosterify this repo
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .gemini/settings.json
  .gemini/styleguide.md
  .github/workflows/wbfy-merge.yml
  .github/workflows/wbfy.yml
  AGENTS.md
  GEMINI.md
Due: prettier --write

fix: update deps
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  cbcdaea3de15f5efab52f3a0b3c64eb589dc9ba1
Due: none

fix: apply changes by lint-fix and build
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/shared/.lintstagedrc.cjs
  yarn.lock
Due: none

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/shared/.lintstagedrc.cjs
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json
