Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

fix: make publish-all more robust
  package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies
  .renovaterc.json
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies (#208)
  .renovaterc.json
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

fix(tsconfig): use es2018 in target
  packages/tsconfig/tsconfig.json
Due: prettier --write

v2.3.2
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

fix(tsconfig): revert to use esnext in target
  packages/tsconfig/tsconfig.json
Due: prettier --write

v2.3.3
  lerna.json
  packages/tsconfig/package.json
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update all non-major dependencies
  packages/eslint-config-js/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies to v2.17.0
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

BREAKING CHANGE: remove tsconfig package
  packages/eslint-config-ts/package.json
  packages/tsconfig/.gitignore
  packages/tsconfig/.prettierignore
  packages/tsconfig/LICENSE
  packages/tsconfig/NOTICE
  packages/tsconfig/README.md
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

v3.0.0
  lerna.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

docs: update package list
  README.md
Due: prettier --write

chore: willboosterify ignore files
  .gitignore
  .prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
Due: none

chore: willboosterify ignore files (#212)
  .gitignore
  .prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
Due: none

chore: willboosterify this repo upgrading dependencies
  .lintstagedrc.js
  lerna.json
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

chore: willboosterify ignore files (#213)
  .gitignore
  .prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.gitignore
  packages/renovate-config/.prettierignore
Due: none

chore: willboosterify this repo upgrading dependencies (#211)
  .lintstagedrc.js
  lerna.json
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency husky to v4
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo upgrading dependencies (#214)
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify .ignore files
  .prettierignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.prettierignore
Due: none

chore: willboosterify .ignore files (#215)
  .prettierignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.prettierignore
  packages/renovate-config/.prettierignore
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
