Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

fix: split the Renovate preset so repositories outside WillBooster can extend it (#1112)
  .github/workflows/renovate-config.yml
  lefthook.yml
  renovate-base.jsonc
  renovate.jsonc
  scripts/checkRenovateBase.ts
Due: prettier --write

chore: update Bun to 1.4.0
  mise.toml
Due: none

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .gemini/styleguide.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/change.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .github/workflows/close-comment.yml
  .github/workflows/semantic-pr.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  bun.lock
  bunfig.toml
  lefthook.yml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .gemini/styleguide.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/change.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .github/workflows/close-comment.yml
  .github/workflows/semantic-pr.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  bun.lock
  bunfig.toml
  lefthook.yml
  mise.toml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .github/pull_request_template.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  bun.lock
  bunfig.toml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .gemini/styleguide.md
  .github/pull_request_template.md
  .lefthook/post-merge/prepare.sh
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  bun.lock
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  bun.lock
  bunfig.toml
  package.json
  packages/babel-configs/package.json
  packages/biome-config/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/package.json
  packages/oxlint-config/package.json
  packages/prettier-config/package.json
  packages/shared/package.json
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/change.md
  .github/pull_request_template.md
  .github/workflows/close-comment.yml
  .gitignore
  .lefthook/post-merge/prepare.sh
  .lefthook/pre-push/check.sh
  .prettierignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  bun.lock
  bunfig.toml
  lefthook.yml
  package.json
  packages/babel-configs/.gitignore
  packages/babel-configs/package.json
  packages/biome-config/.gitignore
  packages/biome-config/package.json
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/package.json
  packages/oxfmt-config/.gitignore
  packages/oxfmt-config/package.json
  packages/oxlint-config/.gitignore
  packages/oxlint-config/package.json
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/prettier-config/package.json
  packages/shared/.gitignore
  packages/shared/package.json
Due: prettier --write, sort-package-json

fix: keep Cargo version requirements as ranges in the Renovate preset
  renovate-base.jsonc
Due: none

fix: describe how Renovate's Cargo auto strategy treats each kind of range
  renovate-base.jsonc
Due: none

fix: state that Renovate proposes no Cargo.lock-only update within an upper-bounded Cargo range
  renovate-base.jsonc
Due: none

fix: keep Cargo version requirements as ranges in the Renovate preset (#1133)
  renovate-base.jsonc
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}
  sort-package-json: any of: ./**/package.json
