Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

chore: willboosterify this repo
  .cursor/rules/general.mdc
  .gemini/styleguide.md
  .lefthook/normalize-bun-lockfile.sh
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  lefthook.yml
  package.json
Due: prettier --write, sort-package-json

fix: split Renovate preset so repos outside WillBooster can extend it
  .github/workflows/renovate-config.yml
  lefthook.yml
  renovate-base.jsonc
  renovate.jsonc
Due: prettier --write

ci: validate every root Renovate preset file the workflow triggers on
  .github/workflows/renovate-config.yml
Due: prettier --write

fix: document and guard the credential-free invariant of renovate-base.jsonc
  .github/workflows/renovate-config.yml
  renovate-base.jsonc
Due: prettier --write

fix: reference renovate-base.jsonc relatively so pinned consumers stay pinned
  renovate.jsonc
Due: none

ci: fail the credential guard when renovate-base.jsonc cannot be scanned
  .github/workflows/renovate-config.yml
Due: prettier --write

ci: keep the credential guard working under the errexit shell of GitHub Actions
  .github/workflows/renovate-config.yml
Due: prettier --write

fix: keep the absolute preset reference because renovate.jsonc is also this repo's config
  renovate.jsonc
Due: none

ci: also reject Mend variable placeholders in renovate-base.jsonc
  .github/workflows/renovate-config.yml
  renovate-base.jsonc
Due: prettier --write

ci: guard renovate-base.jsonc against npmToken and nested extends of this repository
  .github/workflows/renovate-config.yml
  renovate-base.jsonc
Due: prettier --write

ci: guard renovate-base.jsonc against relative nested presets too
  .github/workflows/renovate-config.yml
Due: prettier --write

ci: replace the text guard with a structural check of renovate-base.jsonc
  .github/workflows/renovate-config.yml
  lefthook.yml
  renovate-base.jsonc
  scripts/checkRenovateBase.ts
Due: prettier --write

docs: explain that a literal credential in renovate-base.jsonc leaks instead of erroring
  renovate-base.jsonc
Due: none

fix: whitelist Renovate's actual built-in preset namespaces in the base check
  scripts/checkRenovateBase.ts
Due: none

fix: check a string-valued extends in the base preset too
  scripts/checkRenovateBase.ts
Due: none

fix: reject parameterized built-in presets in the base check
  scripts/checkRenovateBase.ts
Due: none

refactor: always check renovate-base.jsonc instead of an arbitrary module argument
  scripts/checkRenovateBase.ts
Due: none

fix: deny the built-in presets that expand to hostRules even without an argument
  scripts/checkRenovateBase.ts
Due: none

fix: accept built-in preset names that contain dots or spaces
  scripts/checkRenovateBase.ts
Due: none

docs: describe the namespace allowlist precisely
  scripts/checkRenovateBase.ts
Due: none

docs: state the extends rule of renovate-base.jsonc exactly as enforced
  renovate-base.jsonc
  scripts/checkRenovateBase.ts
Due: none

fix: reject built-in preset names with leading or trailing whitespace
  scripts/checkRenovateBase.ts
Due: none

fix: ban the encrypted option in renovate-base.jsonc
  renovate-base.jsonc
  scripts/checkRenovateBase.ts
Due: none

fix: reject tag-suffixed built-in preset references in the base check
  scripts/checkRenovateBase.ts
Due: none

docs: reflow the built-in name comment
  scripts/checkRenovateBase.ts
Due: none

fix: reject URLs with embedded credentials in renovate-base.jsonc
  scripts/checkRenovateBase.ts
Due: none

docs: explain why a placeholder anywhere in renovate-base.jsonc breaks consumers
  renovate-base.jsonc
Due: none

fix: catch credential-bearing URLs anywhere in a string of renovate-base.jsonc
  scripts/checkRenovateBase.ts
Due: none

docs: state the limit of the structural credential check
  scripts/checkRenovateBase.ts
Due: none

fix: limit the embedded-credential URL check to HTTP(S) and document it in the base preset
  renovate-base.jsonc
  scripts/checkRenovateBase.ts
Due: none

fix: normalize URL strings like the URL parser before looking for embedded credentials
  scripts/checkRenovateBase.ts
Due: none

docs: do not cite a secret scanner that is not enabled on this repository
  scripts/checkRenovateBase.ts
Due: none

fix: end the URL user-info scan at the authority terminators
  scripts/checkRenovateBase.ts
Due: none

fix: accept any number of slashes after the scheme when scanning for URL user info
  scripts/checkRenovateBase.ts
Due: none

fix: catch zero-slash HTTP URLs with embedded credentials
  scripts/checkRenovateBase.ts
Due: none

docs: justify the HTTP(S)-only URL scan by what Renovate dereferences
  scripts/checkRenovateBase.ts
Due: none

docs: explain the regex package matchers in renovate-base.jsonc
  renovate-base.jsonc
Due: none

docs: describe the regex package matchers without a false claim about globs
  renovate-base.jsonc
Due: none

fix: reject templated extends entries in the base preset
  scripts/checkRenovateBase.ts
Due: none
