Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

feat!: employ eslint-plugin-unicorn
  packages/eslint-config-js-react/README.md
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-js/README.md
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/README.md
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.eslintrc.json
  packages/eslint-config-ts/README.md
  packages/eslint-config-ts/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  1924038df78427f95e36adf459a9ff263c2eb9fe
Due: none

docs: add 'How to add dependencies'
  packages/babel-configs/README.md
Due: prettier --write

docs: fix 'How to add dependencies'
  packages/babel-configs/README.md
Due: prettier --write

docs(babel-configs): fix NOTICE
  packages/babel-configs/NOTICE
Due: none

fix: disable unicorn/prevent-abbreviations
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  e0637d62365885b5cff4b2ddbd0fcb10c0922356
Due: none

fix: lint errors
  packages/eslint-config-js/__tests__/test.cjs
  packages/eslint-config-ts/__tests__/test.ts
Due: none

Notes added by 'git notes add'
  ce99910c08b0f9158c6bb7abbb906fc75fc79426
Due: none

fix(babel): use .cjs instead of .js
  packages/babel-configs/README.md
  packages/babel-configs/babel.config.cjs
  packages/babel-configs/babel.corejs.config.cjs
  packages/babel-configs/babel.corejs.react.config.cjs
  packages/babel-configs/babel.react.config.cjs
Due: prettier --write

Notes added by 'git notes add'
  326d6200deb4bf0bfd2db8d76a26856e2a2bed66
Due: none

fix: improve files prop in package.json
  packages/babel-configs/package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  04aa700b524033fbbe6859a1cf2bbfa873489469
Due: none

fix: upgrade dependencies
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  c4234141e82bd6e12d4e8ddc35ed874ca0064b65
Due: none

fix: tweak settings of unicorn/no-useless-undefined
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  1f332caa15fcf6622a080d8580571b2c80c5be5a
Due: none

test: fix failed tests
  packages/eslint-config-js-react/__tests__/test.jsx
  packages/eslint-config-ts-react/__tests__/test.tsx
Due: prettier --write

fix: disable unicorn/no-array-callback-reference
  packages/eslint-config-js/.eslintrc.json
  packages/eslint-config-ts/.eslintrc.json
Due: prettier --write
