Repository WillBooster/willbooster-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{css,htm,html,js,json,jsx,md,scss,yaml,yml}": ["prettier --write", "git add"],
  "./**/package.json": ["sort-package-json", "git add"]
}

fix: apply changes by lint-fix and build
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/shared/.lintstagedrc.cjs
  yarn.lock
Due: none

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/shared/.lintstagedrc.cjs
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
Due: prettier --write

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  package.json
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/package.json
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/package.json
  packages/shared/.lintstagedrc.cjs
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  package.json
  packages/eslint-config-js-react/package.json
  packages/eslint-config-js/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-ts-react/package.json
  packages/eslint-config-ts/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  .gitignore
  .prettierignore
  packages/babel-configs/.gitignore
  packages/babel-configs/.prettierignore
  packages/biome-config/.gitignore
  packages/biome-config/.prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.lintstagedrc.cjs
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.lintstagedrc.cjs
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/.lintstagedrc.cjs
  packages/eslint-config-next/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.lintstagedrc.cjs
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.lintstagedrc.cjs
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/shared/.gitignore
  packages/shared/.lintstagedrc.cjs
  packages/shared/.prettierignore
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .github/workflows/wbfy-merge.yml
  .gitignore
  .prettierignore
  packages/babel-configs/.gitignore
  packages/babel-configs/.prettierignore
  packages/biome-config/.gitignore
  packages/biome-config/.prettierignore
  packages/eslint-config-js-react/.gitignore
  packages/eslint-config-js-react/.prettierignore
  packages/eslint-config-js/.gitignore
  packages/eslint-config-js/.prettierignore
  packages/eslint-config-next/.gitignore
  packages/eslint-config-next/.prettierignore
  packages/eslint-config-ts-react/.gitignore
  packages/eslint-config-ts-react/.prettierignore
  packages/eslint-config-ts/.gitignore
  packages/eslint-config-ts/.prettierignore
  packages/prettier-config/.gitignore
  packages/prettier-config/.prettierignore
  packages/shared/.gitignore
  packages/shared/.prettierignore
  yarn.lock
Due: prettier --write
